//精灵图变量1-800
/*
var start = 400;
var base = 100.00;
for(var i=start; i<=800;i++ ){
console.log('$_'+i+":"+(i/base)+"rem;");
}*/
$base_scale:100;//基础比例
$_1:0.01rem;
$_2:0.02rem;
$_3:0.03rem;
$_4:0.04rem;
$_5:0.05rem;
$_6:0.06rem;
$_7:0.07rem;
$_8:0.08rem;
$_9:0.09rem;
$_10:0.10rem;
$_11:0.11rem;
$_12:0.12rem;
$_13:0.13rem;
$_14:0.14rem;
$_15:0.15rem;
$_16:0.16rem;
$_17:0.17rem;
$_18:0.18rem;
$_19:0.19rem;
$_20:0.20rem;
$_21:0.21rem;
$_22:0.22rem;
$_23:0.23rem;
$_24:0.24rem;
$_25:0.25rem;
$_26:0.26rem;
$_27:0.27rem;
$_28:0.28rem;
$_29:0.29rem;
$_30:0.30rem;
$_31:0.31rem;
$_32:0.32rem;
$_33:0.33rem;
$_34:0.34rem;
$_35:0.35rem;
$_36:0.36rem;
$_37:0.37rem;
$_38:0.38rem;
$_39:0.39rem;
$_40:0.40rem;
$_41:0.41rem;
$_42:0.42rem;
$_43:0.43rem;
$_44:0.44rem;
$_45:0.45rem;
$_46:0.46rem;
$_47:0.47rem;
$_48:0.48rem;
$_49:0.49rem;
$_50:0.50rem;
$_51:0.51rem;
$_52:0.52rem;
$_53:0.53rem;
$_54:0.54rem;
$_55:0.55rem;
$_56:0.56rem;
$_57:0.57rem;
$_58:0.58rem;
$_59:0.59rem;
$_60:0.60rem;
$_61:0.61rem;
$_62:0.62rem;
$_63:0.63rem;
$_64:0.64rem;
$_65:0.65rem;
$_66:0.66rem;
$_67:0.67rem;
$_68:0.68rem;
$_69:0.69rem;
$_70:0.70rem;
$_71:0.71rem;
$_72:0.72rem;
$_73:0.73rem;
$_74:0.74rem;
$_75:0.75rem;
$_76:0.76rem;
$_77:0.77rem;
$_78:0.78rem;
$_79:0.79rem;
$_80:0.80rem;
$_81:0.81rem;
$_82:0.82rem;
$_83:0.83rem;
$_84:0.84rem;
$_85:0.85rem;
$_86:0.86rem;
$_87:0.87rem;
$_88:0.88rem;
$_89:0.89rem;
$_90:0.90rem;
$_91:0.91rem;
$_92:0.92rem;
$_93:0.93rem;
$_94:0.94rem;
$_95:0.95rem;
$_96:0.96rem;
$_97:0.97rem;
$_98:0.98rem;
$_99:0.99rem;
$_100:1.00rem;
$_101:1.01rem;
$_102:1.02rem;
$_103:1.03rem;
$_104:1.04rem;
$_105:1.05rem;
$_106:1.06rem;
$_107:1.07rem;
$_108:1.08rem;
$_109:1.09rem;
$_110:1.10rem;
$_111:1.11rem;
$_112:1.12rem;
$_113:1.13rem;
$_114:1.14rem;
$_115:1.15rem;
$_116:1.16rem;
$_117:1.17rem;
$_118:1.18rem;
$_119:1.19rem;
$_120:1.20rem;
$_121:1.21rem;
$_122:1.22rem;
$_123:1.23rem;
$_124:1.24rem;
$_125:1.25rem;
$_126:1.26rem;
$_127:1.27rem;
$_128:1.28rem;
$_129:1.29rem;
$_130:1.30rem;
$_131:1.31rem;
$_132:1.32rem;
$_133:1.33rem;
$_134:1.34rem;
$_135:1.35rem;
$_136:1.36rem;
$_137:1.37rem;
$_138:1.38rem;
$_139:1.39rem;
$_140:1.40rem;
$_141:1.41rem;
$_142:1.42rem;
$_143:1.43rem;
$_144:1.44rem;
$_145:1.45rem;
$_146:1.46rem;
$_147:1.47rem;
$_148:1.48rem;
$_149:1.49rem;
$_150:1.50rem;
$_151:1.51rem;
$_152:1.52rem;
$_153:1.53rem;
$_154:1.54rem;
$_155:1.55rem;
$_156:1.56rem;
$_157:1.57rem;
$_158:1.58rem;
$_159:1.59rem;
$_160:1.60rem;
$_161:1.61rem;
$_162:1.62rem;
$_163:1.63rem;
$_164:1.64rem;
$_165:1.65rem;
$_166:1.66rem;
$_167:1.67rem;
$_168:1.68rem;
$_169:1.69rem;
$_170:1.70rem;
$_171:1.71rem;
$_172:1.72rem;
$_173:1.73rem;
$_174:1.74rem;
$_175:1.75rem;
$_176:1.76rem;
$_177:1.77rem;
$_178:1.78rem;
$_179:1.79rem;
$_180:1.80rem;
$_181:1.81rem;
$_182:1.82rem;
$_183:1.83rem;
$_184:1.84rem;
$_185:1.85rem;
$_186:1.86rem;
$_187:1.87rem;
$_188:1.88rem;
$_189:1.89rem;
$_190:1.90rem;
$_191:1.91rem;
$_192:1.92rem;
$_193:1.93rem;
$_194:1.94rem;
$_195:1.95rem;
$_196:1.96rem;
$_197:1.97rem;
$_198:1.98rem;
$_199:1.99rem;
$_200:2.00rem;
$_201:2.01rem;
$_202:2.02rem;
$_203:2.03rem;
$_204:2.04rem;
$_205:2.05rem;
$_206:2.06rem;
$_207:2.07rem;
$_208:2.08rem;
$_209:2.09rem;
$_210:2.10rem;
$_211:2.11rem;
$_212:2.12rem;
$_213:2.13rem;
$_214:2.14rem;
$_215:2.15rem;
$_216:2.16rem;
$_217:2.17rem;
$_218:2.18rem;
$_219:2.19rem;
$_220:2.20rem;
$_221:2.21rem;
$_222:2.22rem;
$_223:2.23rem;
$_224:2.24rem;
$_225:2.25rem;
$_226:2.26rem;
$_227:2.27rem;
$_228:2.28rem;
$_229:2.29rem;
$_230:2.30rem;
$_231:2.31rem;
$_232:2.32rem;
$_233:2.33rem;
$_234:2.34rem;
$_235:2.35rem;
$_236:2.36rem;
$_237:2.37rem;
$_238:2.38rem;
$_239:2.39rem;
$_240:2.40rem;
$_241:2.41rem;
$_242:2.42rem;
$_243:2.43rem;
$_244:2.44rem;
$_245:2.45rem;
$_246:2.46rem;
$_247:2.47rem;
$_248:2.48rem;
$_249:2.49rem;
$_250:2.50rem;
$_251:2.51rem;
$_252:2.52rem;
$_253:2.53rem;
$_254:2.54rem;
$_255:2.55rem;
$_256:2.56rem;
$_257:2.57rem;
$_258:2.58rem;
$_259:2.59rem;
$_260:2.60rem;
$_261:2.61rem;
$_262:2.62rem;
$_263:2.63rem;
$_264:2.64rem;
$_265:2.65rem;
$_266:2.66rem;
$_267:2.67rem;
$_268:2.68rem;
$_269:2.69rem;
$_270:2.70rem;
$_271:2.71rem;
$_272:2.72rem;
$_273:2.73rem;
$_274:2.74rem;
$_275:2.75rem;
$_276:2.76rem;
$_277:2.77rem;
$_278:2.78rem;
$_279:2.79rem;
$_280:2.80rem;
$_281:2.81rem;
$_282:2.82rem;
$_283:2.83rem;
$_284:2.84rem;
$_285:2.85rem;
$_286:2.86rem;
$_287:2.87rem;
$_288:2.88rem;
$_289:2.89rem;
$_290:2.90rem;
$_291:2.91rem;
$_292:2.92rem;
$_293:2.93rem;
$_294:2.94rem;
$_295:2.95rem;
$_296:2.96rem;
$_297:2.97rem;
$_298:2.98rem;
$_299:2.99rem;
$_300:3.00rem;
$_301:3.01rem;
$_302:3.02rem;
$_303:3.03rem;
$_304:3.04rem;
$_305:3.05rem;
$_306:3.06rem;
$_307:3.07rem;
$_308:3.08rem;
$_309:3.09rem;
$_310:3.10rem;
$_311:3.11rem;
$_312:3.12rem;
$_313:3.13rem;
$_314:3.14rem;
$_315:3.15rem;
$_316:3.16rem;
$_317:3.17rem;
$_318:3.18rem;
$_319:3.19rem;
$_320:3.20rem;
$_321:3.21rem;
$_322:3.22rem;
$_323:3.23rem;
$_324:3.24rem;
$_325:3.25rem;
$_326:3.26rem;
$_327:3.27rem;
$_328:3.28rem;
$_329:3.29rem;
$_330:3.30rem;
$_331:3.31rem;
$_332:3.32rem;
$_333:3.33rem;
$_334:3.34rem;
$_335:3.35rem;
$_336:3.36rem;
$_337:3.37rem;
$_338:3.38rem;
$_339:3.39rem;
$_340:3.40rem;
$_341:3.41rem;
$_342:3.42rem;
$_343:3.43rem;
$_344:3.44rem;
$_345:3.45rem;
$_346:3.46rem;
$_347:3.47rem;
$_348:3.48rem;
$_349:3.49rem;
$_350:3.50rem;
$_351:3.51rem;
$_352:3.52rem;
$_353:3.53rem;
$_354:3.54rem;
$_355:3.55rem;
$_356:3.56rem;
$_357:3.57rem;
$_358:3.58rem;
$_359:3.59rem;
$_360:3.60rem;
$_361:3.61rem;
$_362:3.62rem;
$_363:3.63rem;
$_364:3.64rem;
$_365:3.65rem;
$_366:3.66rem;
$_367:3.67rem;
$_368:3.68rem;
$_369:3.69rem;
$_370:3.70rem;
$_371:3.71rem;
$_372:3.72rem;
$_373:3.73rem;
$_374:3.74rem;
$_375:3.75rem;
$_376:3.76rem;
$_377:3.77rem;
$_378:3.78rem;
$_379:3.79rem;
$_380:3.8rem;
$_381:3.81rem;
$_382:3.82rem;
$_383:3.83rem;
$_384:3.84rem;
$_385:3.85rem;
$_386:3.86rem;
$_387:3.87rem;
$_388:3.88rem;
$_389:3.89rem;
$_390:3.90rem;
$_391:3.91rem;
$_392:3.92rem;
$_393:3.93rem;
$_394:3.94rem;
$_395:3.95rem;
$_396:3.96rem;
$_397:3.97rem;
$_398:3.98rem;
$_399:3.99rem;
$_400:4.00rem;
$_401:4.01rem;
$_402:4.02rem;
$_403:4.03rem;
$_404:4.04rem;
$_405:4.05rem;
$_406:4.06rem;
$_407:4.07rem;
$_408:4.08rem;
$_409:4.09rem;
$_410:4.1rem;
$_411:4.11rem;
$_412:4.12rem;
$_413:4.13rem;
$_414:4.14rem;
$_415:4.15rem;
$_416:4.16rem;
$_417:4.17rem;
$_418:4.18rem;
$_419:4.19rem;
$_420:4.2rem;
$_421:4.21rem;
$_422:4.22rem;
$_423:4.23rem;
$_424:4.24rem;
$_425:4.25rem;
$_426:4.26rem;
$_427:4.27rem;
$_428:4.28rem;
$_429:4.29rem;
$_430:4.3rem;
$_431:4.31rem;
$_432:4.32rem;
$_433:4.33rem;
$_434:4.34rem;
$_435:4.35rem;
$_436:4.36rem;
$_437:4.37rem;
$_438:4.38rem;
$_439:4.39rem;
$_440:4.4rem;
$_441:4.41rem;
$_442:4.42rem;
$_443:4.43rem;
$_444:4.44rem;
$_445:4.45rem;
$_446:4.46rem;
$_447:4.47rem;
$_448:4.48rem;
$_449:4.49rem;
$_450:4.5rem;
$_451:4.51rem;
$_452:4.52rem;
$_453:4.53rem;
$_454:4.54rem;
$_455:4.55rem;
$_456:4.56rem;
$_457:4.57rem;
$_458:4.58rem;
$_459:4.59rem;
$_460:4.6rem;
$_461:4.61rem;
$_462:4.62rem;
$_463:4.63rem;
$_464:4.64rem;
$_465:4.65rem;
$_466:4.66rem;
$_467:4.67rem;
$_468:4.68rem;
$_469:4.69rem;
$_470:4.7rem;
$_471:4.71rem;
$_472:4.72rem;
$_473:4.73rem;
$_474:4.74rem;
$_475:4.75rem;
$_476:4.76rem;
$_477:4.77rem;
$_478:4.78rem;
$_479:4.79rem;
$_480:4.8rem;
$_481:4.81rem;
$_482:4.82rem;
$_483:4.83rem;
$_484:4.84rem;
$_485:4.85rem;
$_486:4.86rem;
$_487:4.87rem;
$_488:4.88rem;
$_489:4.89rem;
$_490:4.9rem;
$_491:4.91rem;
$_492:4.92rem;
$_493:4.93rem;
$_494:4.94rem;
$_495:4.95rem;
$_496:4.96rem;
$_497:4.97rem;
$_498:4.98rem;
$_499:4.99rem;
$_500:5rem;
$_501:5.01rem;
$_502:5.02rem;
$_503:5.03rem;
$_504:5.04rem;
$_505:5.05rem;
$_506:5.06rem;
$_507:5.07rem;
$_508:5.08rem;
$_509:5.09rem;
$_510:5.1rem;
$_511:5.11rem;
$_512:5.12rem;
$_513:5.13rem;
$_514:5.14rem;
$_515:5.15rem;
$_516:5.16rem;
$_517:5.17rem;
$_518:5.18rem;
$_519:5.19rem;
$_520:5.2rem;
$_521:5.21rem;
$_522:5.22rem;
$_523:5.23rem;
$_524:5.24rem;
$_525:5.25rem;
$_526:5.26rem;
$_527:5.27rem;
$_528:5.28rem;
$_529:5.29rem;
$_530:5.3rem;
$_531:5.31rem;
$_532:5.32rem;
$_533:5.33rem;
$_534:5.34rem;
$_535:5.35rem;
$_536:5.36rem;
$_537:5.37rem;
$_538:5.38rem;
$_539:5.39rem;
$_540:5.4rem;
$_541:5.41rem;
$_542:5.42rem;
$_543:5.43rem;
$_544:5.44rem;
$_545:5.45rem;
$_546:5.46rem;
$_547:5.47rem;
$_548:5.48rem;
$_549:5.49rem;
$_550:5.5rem;
$_551:5.51rem;
$_552:5.52rem;
$_553:5.53rem;
$_554:5.54rem;
$_555:5.55rem;
$_556:5.56rem;
$_557:5.57rem;
$_558:5.58rem;
$_559:5.59rem;
$_560:5.6rem;
$_561:5.61rem;
$_562:5.62rem;
$_563:5.63rem;
$_564:5.64rem;
$_565:5.65rem;
$_566:5.66rem;
$_567:5.67rem;
$_568:5.68rem;
$_569:5.69rem;
$_570:5.7rem;
$_571:5.71rem;
$_572:5.72rem;
$_573:5.73rem;
$_574:5.74rem;
$_575:5.75rem;
$_576:5.76rem;
$_577:5.77rem;
$_578:5.78rem;
$_579:5.79rem;
$_580:5.8rem;
$_581:5.81rem;
$_582:5.82rem;
$_583:5.83rem;
$_584:5.84rem;
$_585:5.85rem;
$_586:5.86rem;
$_587:5.87rem;
$_588:5.88rem;
$_589:5.89rem;
$_590:5.9rem;
$_591:5.91rem;
$_592:5.92rem;
$_593:5.93rem;
$_594:5.94rem;
$_595:5.95rem;
$_596:5.96rem;
$_597:5.97rem;
$_598:5.98rem;
$_599:5.99rem;
$_600:6rem;
$_601:6.01rem;
$_602:6.02rem;
$_603:6.03rem;
$_604:6.04rem;
$_605:6.05rem;
$_606:6.06rem;
$_607:6.07rem;
$_608:6.08rem;
$_609:6.09rem;
$_610:6.1rem;
$_611:6.11rem;
$_612:6.12rem;
$_613:6.13rem;
$_614:6.14rem;
$_615:6.15rem;
$_616:6.16rem;
$_617:6.17rem;
$_618:6.18rem;
$_619:6.19rem;
$_620:6.2rem;
$_621:6.21rem;
$_622:6.22rem;
$_623:6.23rem;
$_624:6.24rem;
$_625:6.25rem;
$_626:6.26rem;
$_627:6.27rem;
$_628:6.28rem;
$_629:6.29rem;
$_630:6.3rem;
$_631:6.31rem;
$_632:6.32rem;
$_633:6.33rem;
$_634:6.34rem;
$_635:6.35rem;
$_636:6.36rem;
$_637:6.37rem;
$_638:6.38rem;
$_639:6.39rem;
$_640:6.4rem;
$_641:6.41rem;
$_642:6.42rem;
$_643:6.43rem;
$_644:6.44rem;
$_645:6.45rem;
$_646:6.46rem;
$_647:6.47rem;
$_648:6.48rem;
$_649:6.49rem;
$_650:6.5rem;
$_651:6.51rem;
$_652:6.52rem;
$_653:6.53rem;
$_654:6.54rem;
$_655:6.55rem;
$_656:6.56rem;
$_657:6.57rem;
$_658:6.58rem;
$_659:6.59rem;
$_660:6.6rem;
$_661:6.61rem;
$_662:6.62rem;
$_663:6.63rem;
$_664:6.64rem;
$_665:6.65rem;
$_666:6.66rem;
$_667:6.67rem;
$_668:6.68rem;
$_669:6.69rem;
$_670:6.7rem;
$_671:6.71rem;
$_672:6.72rem;
$_673:6.73rem;
$_674:6.74rem;
$_675:6.75rem;
$_676:6.76rem;
$_677:6.77rem;
$_678:6.78rem;
$_679:6.79rem;
$_680:6.8rem;
$_681:6.81rem;
$_682:6.82rem;
$_683:6.83rem;
$_684:6.84rem;
$_685:6.85rem;
$_686:6.86rem;
$_687:6.87rem;
$_688:6.88rem;
$_689:6.89rem;
$_690:6.9rem;
$_691:6.91rem;
$_692:6.92rem;
$_693:6.93rem;
$_694:6.94rem;
$_695:6.95rem;
$_696:6.96rem;
$_697:6.97rem;
$_698:6.98rem;
$_699:6.99rem;
$_700:7rem;
$_701:7.01rem;
$_702:7.02rem;
$_703:7.03rem;
$_704:7.04rem;
$_705:7.05rem;
$_706:7.06rem;
$_707:7.07rem;
$_708:7.08rem;
$_709:7.09rem;
$_710:7.1rem;
$_711:7.11rem;
$_712:7.12rem;
$_713:7.13rem;
$_714:7.14rem;
$_715:7.15rem;
$_716:7.16rem;
$_717:7.17rem;
$_718:7.18rem;
$_719:7.19rem;
$_720:7.2rem;
$_721:7.21rem;
$_722:7.22rem;
$_723:7.23rem;
$_724:7.24rem;
$_725:7.25rem;
$_726:7.26rem;
$_727:7.27rem;
$_728:7.28rem;
$_729:7.29rem;
$_730:7.3rem;
$_731:7.31rem;
$_732:7.32rem;
$_733:7.33rem;
$_734:7.34rem;
$_735:7.35rem;
$_736:7.36rem;
$_737:7.37rem;
$_738:7.38rem;
$_739:7.39rem;
$_740:7.4rem;
$_741:7.41rem;
$_742:7.42rem;
$_743:7.43rem;
$_744:7.44rem;
$_745:7.45rem;
$_746:7.46rem;
$_747:7.47rem;
$_748:7.48rem;
$_749:7.49rem;
$_750:7.5rem;
$_751:7.51rem;
$_752:7.52rem;
$_753:7.53rem;
$_754:7.54rem;
$_755:7.55rem;
$_756:7.56rem;
$_757:7.57rem;
$_758:7.58rem;
$_759:7.59rem;
$_760:7.6rem;
$_761:7.61rem;
$_762:7.62rem;
$_763:7.63rem;
$_764:7.64rem;
$_765:7.65rem;
$_766:7.66rem;
$_767:7.67rem;
$_768:7.68rem;
$_769:7.69rem;
$_770:7.7rem;
$_771:7.71rem;
$_772:7.72rem;
$_773:7.73rem;
$_774:7.74rem;
$_775:7.75rem;
$_776:7.76rem;
$_777:7.77rem;
$_778:7.78rem;
$_779:7.79rem;
$_780:7.8rem;
$_781:7.81rem;
$_782:7.82rem;
$_783:7.83rem;
$_784:7.84rem;
$_785:7.85rem;
$_786:7.86rem;
$_787:7.87rem;
$_788:7.88rem;
$_789:7.89rem;
$_790:7.9rem;
$_791:7.91rem;
$_792:7.92rem;
$_793:7.93rem;
$_794:7.94rem;
$_795:7.95rem;
$_796:7.96rem;
$_797:7.97rem;
$_798:7.98rem;
$_799:7.99rem;
$_800:8rem;

