@mixin store_common_icon{background:url(../images/common/store_common_icon.png) no-repeat ;background-size:$_51 $_609;}
@mixin icon_shop_index_Pressed{height:$_40;width:$_39;background-position:0 0;}
@mixin icon_shop_index_normal{height:$_40;width:$_39;background-position:0 0 -$_41;}
@mixin icon_store_index_Pressed{height:$_38;width:$_42;background-position:0 0 -$_82;}
@mixin icon_store_my_normal{height:$_43;width:$_42;background-position:0 0 -$_121;}
@mixin icon_store_index_normal{height:$_38;width:$_42;background-position:0 0 -$_165;}
@mixin icon_store_my_Pressed{height:$_43;width:$_42;background-position:0 0 -$_204;}
@mixin icon_store_car_Pressed{height:$_45;width:$_50;background-position:0 0 -$_248;}
@mixin icon_store_car_normal{height:$_45;width:$_50;background-position:0 0 -$_294;}
@mixin icon_shop_indexmain_normal{height:$_47;width:$_48;background-position:0 0 -$_345;}
@mixin icon_shop_indexmain_Pressed{height:$_47;width:$_48;background-position:0 0 -$_396;}
@mixin icon_shop_category_normal{height:$_38;width:$_48;background-position:0 0 -$_448;}
@mixin icon_shop_category_Pressed{height:$_38;width:$_48;background-position:0 0 -$_491;}
@mixin icon_shop_community_normal{height:$_36;width:$_51;background-position:0 0 -$_533;}
@mixin icon_shop_community_Pressed{height:$_36;width:$_51;background-position:0 0 -$_573;}