@import "../base/base.scss";
@import "brandsprites";
@import "app/mixin";
@import "app/app_common";
@import "../base/app-base-override";
@import "other_css";

.twitelist {
  overflow-y: auto;
}

.topnav {
  /* background: #fff url("../images/app/teambg.png") no-repeat center center;*/
  background: #fff;
  background-size: cover;
  margin-bottom: 0.2rem;
  .navbox {
    border-bottom: 1px solid #e7e7e7;
  }
}

//新的推客
.topnav {
  font-size: .36rem;
  .topbox {
    @include title-left-icon;
  }
  .bottombox {
    //font-size: 0;
    @include col-2-center-text-img;
  }
}

//团队begin
.my-team {
  .topbox {
    @include title-left-icon;
  }
  .bottombox {
    background-color: #fff;
    overflow: hidden;
    @include col-center-text-new(2rem, 1rem, 33.33%, .28rem, .26rem, .56rem, .56rem);
  }
}

// 团队end

.more {
  text-align: center;
  color: #3e3a39;
  font-size: .24rem;
  padding: .1rem 0;
  .arrow {
    display: inline-block;
    width: .15rem;
    height: .15rem;
    border-top: 1px solid #3e3a39;
    border-right: 1px solid #3e3a39;
    transform: rotate(45deg);;
  }

}

.invite-twitter {
  .searchbox {
    background-color: #fff;
  }
  .search-input {
    color: #000;
    height: 1.10rem;
    padding: .24rem .24rem;
    form {
      border: none !important; //去掉原来瓜藤
    }

    .inner {
      width: 100%;
      position: relative;
      border-radius: 8%/100%;
      background: transparent;
    }
    button {
      width: 51px;
      height: .6rem;
      border: none;
      vertical-align: middle;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);//e7e7e7
      right: 0;
      background-color: transparent;
      span.icon-twitter-search {
        display: inline-block;
        background: transparent url("../images/app/twitter/icon_search_twitter.png") no-repeat center center;
        background-size: .29rem .3rem;
        width: .8rem;;
        height: 100%;

      }

      /*i {
        //font-size: .3rem;
        //color: #231815;
      }*/
    }
  }
  input[type="search"] {
    border: none;
    height: .6rem;
    //line-height: .6rem;
    line-height: normal;//.6rem, android老版本兼容问题 不垂直居中
    font-size: .24rem;
    box-sizing: border-box;
    color: #595757;
    background: #E7E7E7;
    border-radius: 10%/100%;
    width: 100%;
    padding: 0 51px 0 15px;
  }
  input::-webkit-input-placeholder {
    color: #231815;
  }
  input:-ms-input-placeholder {
    color: #231815;
  }
  input:-moz-placeholder {
    color: #231815;
  }
  input::-moz-placeholder {
    color: #231815;
  }
}

.invite-twitter, .new-twitter {
  .itembox {
    .state {
      // margin-top: -0.1rem !important; //微调对齐

    }
  }
}

//邀请推客
.new-twitter {
  .banner {
    height: 4.07rem;
  }
  .topbox {
    @include title-left-icon;
  }
  .bottombox {
    background-color: #fff;
    overflow: hidden;
    @include col-center-img-new(2rem, 1.33rem, 50%, .24rem, .82rem, .65rem);
  }
}

//邀请推客 end

//我的推客 begin
.my-twitter {
  .list {
    background-color: #f4f4f4;
    color: #595757;
  }
  .item {
    background-color: #fff;
  }
  .timebox {
    @include title-text-both(1rem);
    padding: 0 .36rem;
  }
  .itembox {
    @include twitter-list-item;
  }
}

//我的推客 end

//我的品牌 begin
//代理详情公用
.my-brand {
  .list {
    background-color: #f4f4f4;
  }
  .item {
    background-color: #fff;
  }
  .itembox {
    @include brand-list-item;
    .item-middle {
      align-self: flex-start; //中间部分上对齐
    }
    .btn_yellow, .btn_peach {
      //width: 1.3rem !important;
      //text-align: center !important;
    }
  }
}

//我的品牌 end
//我的联盟 begin
.my-alliance {
  .list {
    background-color: #f4f4f4;
  }
  .item {
    background-color: #fff;
  }
  .itembox {
    @include alliance-list-item;
  }

}

//我的联盟 end

//我的 begin
.my-user {
  .top {
    position: relative;
    height: 3.09rem;
    //height: 4.95rem;
    width: 100%;
    background: url("../images/app/user/user-bg.jpg") no-repeat center center;
    background-size: 100%;
    margin-bottom: .24rem;
    .userinfo {
      position: absolute;
      top: 1.05rem;

      height: 1.22rem;
      line-height: 1.22rem;
      color: #fff;
      padding: 0 .24rem;
      width: 100%;
      //border: 1px solid red;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      vertical-align: middle;
      .item-left {
        //flex-basis: 1.4rem;
        //border: 1px solid green;
        flex:0 1 1.4rem;
        align-self: center;
        padding: 0 .2rem 0 0;
        @include create-circle-image(1.2rem, 0rem);
        .pass::after {
          content: "";
          width: .3rem;
          height: .3rem;
          position: absolute;
          right: 3px;
          bottom: 0px;
          z-index: 110;
          background: url("../images/app/user/attestation_v_icon.png") no-repeat center center;
          background-size: contain;
        }
      }
      .item-middle {
       //border: 1px solid red;
        text-align: left;
        align-self: center;
        //flex-basis: 4.7rem;
        flex:1 1 4.7rem;
        color: #fff;
        .tel {
          font-size: .3rem;
        }
        .brand {
          font-size: .24rem;
        }
        a.phone {
          display: block;
          color: #fff;
          line-height: normal;
          font-size: .3rem;
        }
        .tel, .brand {
          display: block;
          line-height: normal;
          height: .43rem;

        }
      }
      .item-right {
        //vertical-align: middle;
        //border: 1px solid #F23030;
        align-self: center;
        //flex-basis: .9rem;
        flex:1 1 .9rem;
        .codeicon {
          float: right;
          width: .36rem;
          height: .36rem;
          background: url("../images/app/user/my_code.png") no-repeat center center;
          background-size: contain;
        }
      }
    }

    .bottombox {
      position: absolute;
      width: 100%;
      top: 3rem;

      @include col-2-center-text-img(2rem, .32rem, .22rem);
    }
  }
  .order {
    background-color: #fff;

    color: #595757;
    .orderitem {
      @include link-item-icon(1.06rem);
    }
    .orderinfo {
      border: 1px solid transparent;// 很奇怪，加上，android4.4以下就不会换行了，即使item是20%（5项），否则19.9%也可以实现
      //height: 1.22rem;
      //line-height: 1.22rem;
      padding: .56rem 0 .45rem 0;
      font-size: 0;
      .item {
        display: inline-block;
        width: 20%;
        color: #595757;
        text-align: center;
      }
      .item-order {
        padding-left: .12rem;
        background: url("../images/app/user/part_line.png") no-repeat left center;
        background-size: .12rem 1.13rem;
      }
      a .icon {
        display: inline-block;
        height: .6rem;
        width: 1rem;
        min-width: 30px;
      }
      a .icon.icon-unpay {
        //width: .38rem;
      }
      a .icon.icon-unems {
        //width: .64rem;
      }
      a .icon.icon-ems {
        // width: .41rem;
      }
      a .icon.icon-done {
        //width: .34rem;
      }
      a .icon.icon-order {
        //width: .38rem;
      }
      a .line {
        display: block;
        height: 0.6rem;
        line-height: 0.6rem;
        width: 100%;
        text-align: center;
        position: relative;
      }
      .status {
        display: inline-block;
        width: .3rem;
        height: .3rem;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%;
        background-color: #F23030;
        color: #fff;
        position: absolute;
        left: 60%;
        font-size: .16rem;
        text-align: center;
        line-height: .3rem;

      }
      .text {
        display: block;
        height: 0.6rem;
        line-height: 0.8rem;
        color: #595757;
        font-size: .24rem;
      }
      .icon-unpay {
        background: url("../images/app/user/un_pay_icon.png") no-repeat center center;
        background-size: .38rem .32rem;
      }
      .icon-unems {
        background: url("../images/app/user/un_ems_icon.png") no-repeat center center;
        background-size: .64rem .35rem;
      }
      .icon-ems {
        background: url("../images/app/user/ems_icon.png") no-repeat center center;
        background-size: .41rem .42rem;
      }
      .icon-done {
        background: url("../images/app/user/done_icon.png") no-repeat center center;
        background-size: .34rem .38rem;
      }
      .icon-order {
        background: url("../images/app/user/order_icon.png") no-repeat center bottom;
        background-size: .38rem .53rem;
      }
    }
  }
  .account {
    background-color: #fff;
    .accountitem {
      padding: 0 .28rem;
      height: 0.92rem;
      line-height: .92rem;
      .title {
        float: left;
        font-size: .29rem;
        color: #231815;
      }
    }
    .accounbox {
      position: relative;
      width: 100%;

      @include col-center-text-new(1.2rem, .8rem,33.33%,.28rem,.22rem,.4rem,.4rem);
      .link-box span.num {
        //color: #9FA0A0;
      }
    }
  }
  .set {
    background-color: #fff;
    color: #595757;
    .setitem {
      @include link-item-icon(0.92rem, 1px);
    }

  }
}

//我的 end

//我的订单 begin
.order_subnav {
  background-color: #fff;
  white-space: nowrap;
  font-size: 0;
  //margin-bottom: .24rem;
  .order_subnav_list li {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: .28rem;
    height: .88rem;
    line-height: .88rem;
    position: relative;
    a {
      display: inline-block;
      color: #231815;
      font-size: .28rem;
    }
    &::before {
      content: "";
      width: 1px;
      background: #dbdbdb;
      height: .4rem;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -0.2rem;
      transform: scaleX(.5);
    }
    &:first-child::before {
      display: none;
    }

    &.current::after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      bottom: 0px;
      background: #f33;
      width: 100%;
      height: 2px;
    }
  }
}

.my_order {
  ul.orderlist .orderitem {
    //color: #595757;
    background-color: #fff;
    //margin-bottom: .24rem;
    .top {
      position: relative;
      height: .64rem;
      line-height: .64rem;
      //border-bottom: 1px solid #dbdbdb;
      padding: 0 .24rem;
      vertical-align: middle;
      color: #231815;
      .time {
        font-size: .24rem;
      }
      .delete {
        float: right;
        right: .24rem;
        width: .22rem;
        height: .64rem;
        background: url("../images/app/user/delete_icon.png") no-repeat center center;
        background-size: contain;
      }
    }
    .middle {
      padding: .3rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      .item-left {
        //border: 1px solid red;
        //flex-basis: 1.9rem;
        //flex-grow: 0;
       // flex-shrink: 1;
        flex: 0 1 1.9rem;
        align-self: center;
        padding: 0 .3rem 0 .24rem;
        @include create-circle-image(1.18rem, .12rem);
        .imgbox {
          background-color: #ddd;
        }
      }
      .item-middle {
        //border: 1px solid yellow;
        align-self: center;
        //flex-basis: 2.3rem;
        //flex-grow: 1;
        //flex-shrink: 1;
        flex: 1 1 2.3rem;
        color: #231815;
        .title {
          font-size: .28rem;
          color: #231815;
          height: .35rem;
          line-height: .35rem;
        }
        .type {
          color: #9FA0A0;
          font-size: .24rem;
          height: .29rem;
          line-height: .29rem;
        }
        p.num {
          padding-right: .24rem;
          color: #595757;
          font-size: .28rem;
          height: .4rem;
          line-height: .4rem;
        }
      }
      .item-middle-price {
        //border: 1px solid green;
        align-self: center;
        //flex-basis: 1.8rem;
        //flex-grow: 1;
       // flex-shrink: 1;
        flex: 1 1 1.8rem;
        color: #f23030;
        font-size: .28rem;
      }
      .item-right {
       // border: 1px solid red;
        align-self: center;
        //flex-basis: 1.5rem;
        flex: 0 1 1.5rem;
        a {
          display: block;
          float: right;
          padding-right: .24rem;
        }
        .state {
          @include yellow-bg-button;
        }
      }
    }
    .bottom {
      height: .84rem;
      position: relative;
      a.operation {
        font-size: 0.48rem;
        text-align: center;
        width: 2.8rem;
        padding: 6px .32rem;
        border-radius: 8px;
        position: absolute;
        white-space: nowrap;
        right: -.48rem;
        top: 50%;
        transform: translateY(-50%) scale(.5); //缩小的，值要放大到原来的2倍
      }
      a.cancel {
        color: #595757;
        border: 1px solid #dbdbdb;
      }
      a.done {
        color: #f23030;
        border: 1px solid #f23030;
      }

    }
  }

}

//我的订单 end

//佣金订单begin
.my-commission-order {
  ul.orderlist .orderitem {
    background-color: #fff;
    .top {
      position: relative;
      height: .64rem;
      line-height: .64rem;
      padding: 0 .24rem;
      vertical-align: middle;
      color: #231815;
      .time {
        font-size: .24rem;
      }
      .delete {
        float: right;
        right: .24rem;
        width: .22rem;
        height: .64rem;
        background: url("../images/app/user/delete_icon.png") no-repeat center center;
        background-size: contain;
      }
    }

    .item-middle {
      position: relative;
      .name {
        display: inline-block;
        color: #231815;
        font-size: .28rem;
        width: 3.3rem;
        height: .34rem;
        line-height: .34rem;
        @include ellipsis;
      }
    }

    .middle {
      background-color: #fff;
      height: 2.77rem;
      @include layout-col-3(1.36rem, 5.42rem, 0rem, flex-start);
      padding: .24rem .24rem 0 .24rem;
      .item-left {
        position: relative;
        @include create-square-image(.82rem, .82rem, 0rem);
        padding-right: .46rem;
        .imgbox{
          position: relative;
          /*&::after {
            position: absolute;
            top: -0.5px;
            left: -0.5px;
            width: 200%;
            height: 200%;
            content: '';
            border: 1px solid #e3e5e9;
            border-radius: 6px; //圆角
            transform: scale(0.5);
            transform-origin: top left;
          }*/
        }
      }
      .item-middle {
        position: relative;
        p {
          color: #231815;
          font-size: .24rem;
          height: .5rem;
          line-height: .5rem;
        }
        .order-name {
          height: .34rem;
          line-height: .34rem;
          margin-bottom: .2rem;
          @include ellipsis;
        }
        .red {
          color: #F23030;
        }
      }
    }
  }
}

//佣金订单end
//无数据提示公用 begin
.data-tips {
  text-align: center;
  width: 100%;
  .tipsbox {
    display: inline-block;
    padding-top: 2rem;
    width: 60%;
    min-width: 2.4rem;
    i.icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: url("../images/app/user/data_tip_icon.png") no-repeat center center;
      background-size: contain;
    }
    p.desc {
      color: #595757;
      font-size: .28rem;
    }
  }
}

//无数据提示 end

//客户列表begin
.customer-list , .my-twitter{
  .time-search {
    font-size: .26rem;
    form {
      white-space: nowrap;
      height: 1rem;
      line-height: 1rem;
    }
    padding: 0 .24rem 0 .38rem;
    color: #231815;
    background-color: #fff;
    input[type="text"] {
      border: 1px solid #e6e6e6;
      width: 1.9rem;
      height: .48rem;
      line-height: .48rem;
      margin: 0 .17rem;
      border-radius: 5px;
      vertical-align: middle;
      font-size: .20rem;
    }
    input[type="submit"] {
      width: 1.31rem;
      height: .48rem;
      line-height: .48rem;
      background-color: #F23030;
      border-radius: 5px;
      font-size: .22rem;
      color: #fff;
      margin-left: 0.1rem;
      //处理其他css样式的破坏
      vertical-align: middle;
      padding: 0;
      border: none;
      font-family: "STHeiti", "Microsoft YaHei", Helvetica, Arial, sans-serif;;
    }
    vertical-align: middle;
  }
}
  //列表同我的推客，只向右偏移
.customer-list{
  .itembox .item-left {
    padding: 0 2.56rem 0 .36rem;
  }
  & ~ .mt_mask {
    z-index: 10000 !important; //覆盖插件的
  }
  & ~ .mt_poppanel {
    z-index: 10001 !important; //覆盖插件的
  }

}

//客户列表end

//代理详情 begin
.agent-detail {
  .top-info {
    background-color: #fff;
    margin-bottom: 0.24rem;
    li {
      &:last-child .item {
        border-bottom: none;
      }
      .item {
        @include title-unlink-text-both(1rem, .28rem, .28rem);
      }
      .item.weChat-card {
        padding: .37rem .24rem;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .item-left {
          flex-basis: 1.5rem;
          align-self: flex-start;
          color: #231815;
          line-height: 1;
          font-size: .28rem;
        }
        .item-middle {
          @include create-square-image(1.2rem, 1.2rem);
        }
      }
    }
  }
  //标题
  .brand-type {
    @include title-text-both-icon;
  }
}

//代理详情 end

//社区设置begin
//设置单项
.setinfoitem {
  @include link-item-icon(1rem, 0px);
  .lefticon {
    padding-left: .64rem;
  }
  .title {
    font-size: .25rem;
  }
  .orderlink {
    font-size: .25rem;
  }
}

.community {
  background-color: #fff;
  overflow: hidden;
  height: auto;
  .form-info {
    height: 100%;
    padding: 1rem 0rem;
    width: 5rem;
    margin: 0 auto;
    .form-item {
      padding: 0.1rem 0;
      height: .8rem;
      line-height: .8rem;
      label {
        height: .6rem;
        line-height: .6rem;
        float: left;
        width: 1.2rem;
        font-size: .32rem;
        color: #231815;
        padding-left: .1rem;
        white-space: nowrap;
      }
      input {
        float: left;
        width: 3.8rem;
        color: #9FA0A0;
        text-indent: .35rem;
        font-size: .28rem;
        height: .6rem;
        line-height: .6rem;
      }
      select{
        float: left;
        width: 3.8rem;
        font-size: 0.27rem;
        position: relative;
        height: .6rem;
        line-height: .6rem;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border: 1px solid #e1e1e1;
        padding: 0 0.33rem 0 0.1rem;
        background: #fff;
        background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAKCAYAAACjd+4vAAAA10lEQVQ4T7XSPxJFMBAG8G8PQK/TiFP4U3BcOgegMxq1Eyh0Gqo8m5m8wQQzed5WJnbyy7cJya26roPrugjDEE+1taNpGnieByHEU/vlf2rbVvZ9DyJCHMe3OKN1XWMYBtWfJIk1TkVRyGma1Mnu8D2qY3DiNE2tUtOyLLKqKtzhJjQIAoXyYW2K+I7XdcUV/g9UTZdh/jDhURRhHEd1p7p+Tar3+cIm/DzCt9BDYo2ck7+d1Jh4j5dliXme1ZLv+8jz3PohmR7fYdT7Bp3ccRxkWfYqys4HBLeZ4wvKfMkAAAAASUVORK5CYII=') no-repeat right center;
        background-size: 0.31rem 0.1rem;
        option {
          font-weight: normal;
          display: block;
          white-space: pre;
          min-height: 1.4em;
          padding: 0px 0.04rem 0.02rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .form-item-btn {
      text-align: center;
      margin-top: 30px;
      a {
        border-radius: .15rem;
        display: block;
        width: 5rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        color: #fff;
        font-size: .32rem;
        background: #F23030;
      }
    }
  }
}

//社区设置end

//个人设置begin
.personal {
  .avatar.setinfoitem {
    @include link-item-icon(1.6rem, 0px);

    span.box {
      position: relative;
      display: inline-block;
      //vertical-align: middle;
      @include vertical-center;
      @include create-circle-image(1.17rem, 0rem)
    }
  }
  .setinfoitem {
    background-color: #fff;
  }
  .quit {
    margin: .7rem auto;
    width: 3.93rem;
    a {
      display: block;
      height: .84rem;
      line-height: .84rem;
      text-align: center;
      width: 3.93rem;
      border: 1px solid red;
      border-radius: 5px;
      font-size: .3rem;
      color: red;
    }
  }

}

//个人设置end

//手机密码验证码 begin
.secure {
  background-color: #fff;
  //overflow: hidden;
  height: auto;
  .form-info {
    height: 100%;
    padding: 1rem 0rem;
    width: 5.4rem;
    margin: 0 auto;
    font-size: .3rem;

    .form-item {
      border-radius: .1rem;
      overflow: hidden;
      margin-bottom: .4rem;
      background-color: #CACACA;
      input[type="text"] {
        float: left;
        background-color: #CACACA;
        height: .75rem;
        line-height: .75rem;
        text-indent: .2rem;
        width: 4.6rem;
        font-size: .3rem;
        color: #fff;
      }
      span {
        float: right;
        width: .7rem;
        height: .75rem;
        background: #CACACA url("../images/common/icon_set_phone.png") no-repeat center center;
        background-size: .30rem .31rem;
      }
      .authcodebnt {
        float: right;
        text-align: center;
        width: 1.9rem;
        background: #DFDFDF;
        color: #000000;
        height: .75rem;
        line-height: .75rem;
      }
    }
    .form-item.authcode {
      background: #CACACA;
    }
    .form-item.authcode input[type="text"] {
      width: 3.4rem;
    }

    .form-item-btn {
      text-align: center;
      margin-top: 1.4rem;
      a {
        border-radius: .5rem;
        display: block;
        width: 3.42rem;
        height: .74rem;
        line-height: .74rem;
        margin: 0 auto;
        color: #fff;
        font-size: .38rem;
        background: #F23030;
      }
    }
    input::-webkit-input-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder {
      color: #fff;
    }
    input::-moz-placeholder {
      color: #fff;
    }
  }
  .form-info.password {
    .form-item {
      width: 5.4rem;
      input[type="password"] {
        background-color: #CACACA;
        height: .75rem;
        line-height: .75rem;
        text-indent: .2rem;
        width: 4.6rem;
        font-size: .3rem;
        color: #fff;
      }
    }

  }
}

//手机密码验证码 end



//九件社区begin
.bbs {
  .banner {
    height: 2.82rem;
  }

  .quick-entry-nav {
    padding: .3rem .3rem;
    position: relative;
    background-color: #fff;
    height: 4.6rem;
  }
  .quick-entry-link {
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
    display: block;
    height: 2rem;
  }
  .quick-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.6rem;
    span {
      overflow: hidden;
      display: flex;
      -webkit-line-clamp: 1;
      justify-content: center;
      line-clamp: 1;
      height: 2em;
      font-size: .26rem;
      color: #585657;
    }
    img {
      height: 1.16rem;
      width: 1.16rem;
    }
  }
  //数据提示位置
  .data-tips .tipsbox {
    padding-top: 0rem;
  }
}
.bbs, .bbs-detail{
    .itembox  {
      background-color: #fff;
      padding: .4rem 0;
      @include layout-col-3(1.38rem, 3.5rem, 2.5rem, flex-start);
      .item-left {
        padding: 0 .26rem 0 .24rem;
        @include create-square-image(.82rem, .82rem, 0rem);
        flex-grow: 0;
      }
      .item-middle {
        p {
          color: #231815;
          font-size: .22rem;
          line-height: .48rem;
          height: .48rem;
        }
        p.title {
          font-size: .28rem;
          color: #9FA0A0;
          margin-bottom: .2rem;
          .label {
            display: inline-block;
            width: .07rem;
            height: .25rem;
            background-color: #FEDE3B;
            vertical-align: middle;
            border-radius: 2px;
            margin-right: .1rem;
          }
        }
        span {
          padding-left: .24rem;
          font-size: .24rem;
          color: #9FA0A0;

        }
      }
      .item-right {
        padding-right: .24rem;
        position: relative;
        flex-grow: 1;
        padding-top: .1rem;
        position: relative;
        .time {
          white-space: nowrap;
          color: #9FA0A0;
          font-size: .20rem;
          padding-left: .3rem;
          background: url("../images/app/bbs/icon_bbs_clock.png") no-repeat left center;
          background-size: .23rem .21rem;
          position: absolute;
          top: 0;
          right: .24rem;
          line-height: .48rem;
          height: .48rem;
          //padding-right: .24rem;
        }
        .code-box {
          margin-top: .9rem;
          float: right;
          right: .24rem;
          text-align: right;
          height: 1.07rem;
          width: 2rem;
          img {
            display: inline-block;
            width: .71rem;
            height: .72rem;
          }
          span {
            text-align: right;
            display: block;
            font-size: .28rem;
            color: #9FA0A0;
            white-space: nowrap;
          }

        }
      }
    }
}
.bbs-detail{
   .itembox{
     .item-middle{
       p.title{
         margin-bottom: 0rem;
       }
     }
  }
  .share{
    padding: 0.5rem  0 .7rem 0;
    background-color: #fff;
    .title{
      padding: .05rem 0;
      width: 3.4rem;
      background-color: #F23030;
      text-align: center;
      color: #fff;
      font-size: .24rem;
      height: .48rem;

      border-radius: .5rem;
      margin: 0 auto;
    }
    .code{
      position: relative;
      padding: .55rem 0;
      @include create-square-image(3.48rem,3.48rem,0);
      .imgbox{
        margin: 0 auto;
      }

    }
    .desc{
      font-size: .24rem;
      color: #9FA0A0;
      text-align: center;
    }
  }
}
//社区详情页begin
.bbs-detail-new {
  .head {
    height:4.9rem;
    background: url("../images/app/bbs/bbs_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
    .content{
      text-align: center;
      padding-top: 1.34rem;
      @include create-circle-image(1.2rem,0);
      .imgbox{
        margin: 0 auto;
      }
      .theme{
        font-size: .26rem;
        color: #fff;
        padding: .15rem 0;
      }
      .attention{
        display: inline-block;
        background-color: #F23030;
        width:1.31rem;
        height: .34rem;
        //padding: 0.08rem 0;
        line-height: .34rem;
        color: #fff;
        font-size: .24rem;

      }
      .plus{
        font-size: .30rem;
      }
      .desc{
        margin-top: .34rem;
        font-size: .26rem;
        color: #fff;
      }
    }
  }

}
.posts-head{
  position: relative;
  background-color: #fff;
  height: 1.17rem;
  padding: 0 .24rem;
  .tips {
    float: left;
    font-size: .24rem;
    color: #231815;
    line-height: 1.17rem;
  }
  .switchbox{
    //font-size: 0;
    width: 70px;
    position: absolute;
    top: 50%;
    right: .24rem;
    transform: translateY(-50%);
  }
}

$duration: .4s;
$checkedColor: #F23030;
.bbs-switch {
  width: 70px;
  height: 27px;
  position: relative;
  border: 1px solid #4D514F;
  background-color: #4D514F;
  box-shadow: #4D514F 0 0 0 0 inset;
  @include borderRadius();
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  &:before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 1px;
    @include borderRadius();
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  &:checked {
    border-color: $checkedColor;
    box-shadow: $checkedColor 0 0 0 16px inset;
    background-color: $checkedColor;
    &:before {
      left: 42px;
    }
    &:after{
      content: '精选';
      color: #fff;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      top: 0;
      left: 13px;
      font-size: 12px;
    }
  }
  &.switch-animbg {
    transition: background-color ease $duration;
    &:before {
      transition: left 0.3s;
    }
    &:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: $checkedColor;
      transition: border-color $duration, background-color ease $duration;
      &:before {
        transition: left 0.3s;
      }
    }
  }
}
.posts-list {
  .posts-item{
    padding: 0.24rem .24rem;

    background-color: #fff;
    position: relative;
    .left-side{
      float: left;
      width:0.8rem;
      height: auto;
      @include create-circle-image(0.6rem,0)
    }
    .up{

    }
    .right-side{
      position: relative;
      float: left;
      width: 6.2rem;
    }
    .username{
      line-height: .66rem;
      color: #3887FF;
      font-size: .3rem;
      width: 3.6rem;
      @include ellipsis;
    }
    .spe-post{
      position: absolute;
      //width: .8rem;
      height: .5rem;
      line-height: .5rem;
      right: 0;
      top: .14rem;
      color: #E7A834;
      font-size: .20rem;
      padding-left: .3rem;
      background: url("../images/app/bbs/icon_bbs_elite.png") no-repeat left center;
      background-size: .25rem .26rem;
    }
    .title {
      color: #000000;
      font-size: .26rem;
      line-height: .42rem;
      width: 5rem;
      @include  ellipsis;
    }
    .content{
      max-width: 5rem;
      float: left;
      font-size: .26rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: .4rem;
      line-height: .4rem;
    }
    .open .content{
      color: #797471;
      overflow:visible;
      white-space: pre-wrap;
      height: .8rem;
      max-width: 5.9rem;
    }
    .open-arrow{
      float: left;
      font-size: 0;
      .arrow{
        display: inline-block;
        //border: 1px solid red;
        height: .14rem;
        width: .35rem;
        background: url("../images/app/bbs/icon_bbs_down_arrow.png") no-repeat left center;
        background-size: .27rem .14rem;
      }
      .text {
        padding-right: .1rem;
        height: .4rem;
        color: #3887FF;
        font-size: .26rem;
        display: inline-block;
      }
      .close-text{
        display: none;
      }
    }
    .open .arrow {
      transform:scaleY(-1);
    }
    .open .close-text{
      display: inline-block;
    }
    .open .open-text{
      display: none;
    }
    .open .open-arrow{
      float: none;
    }


    .picbox{
      margin: 0.1rem 0 .2rem 0;
      .picitem{
        float: left;
        width: 1.95rem;
        height: 1.95rem;
        margin-right: .12rem;
        margin-bottom: .05rem;
        .pic{
          width: 100%;
          height: 100%;
        }
        &:nth-child(3n){
          margin-right: 0;
        }
      }
    }
    .bottom {
      .count{
        color: #9FA0A0;
        font-size: .2rem;
        height: .3rem;
        line-height: .3rem;
        float: left;
      }
      .like{
        float: right;

        height: .3rem;
        line-height: .3rem;
        color: #9FA0A0;
        font-size: .2rem;
        padding-left: .25rem;
        background: url("../images/app/bbs/icon_bbs_like_normal.png") no-repeat left center;
        background-size: .20rem .22rem;
      }
      .like.surelike{
        background: url("../images/app/bbs/icon_bbs_like_pressed.png") no-repeat left center;
        background-size: .20rem .22rem;


      }
    }
  }
}


@keyframes play{
  0% {
    transform:rotateY(0deg);
  }
  100% {
    transform:rotateY(360deg);
  }
}


//社区详情页end
//九件社区end

//首页 begin
.home {
  .header {
    color: #231815;
    position: relative;
    height: 6.3rem;
    background: #fff url('../images/app/home/home_header_bg.jpg') no-repeat center center;

    border: 1px solid transparent; //overflow: hidden;
    background-size: 101% 101%;

    .content {
      position: relative;
      // border: 1px solid #fff;
      margin: 0.8rem .30rem 0 .28rem;
      //height: 100%;
      height: 4.13rem;
      .name {
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        font-size: .26rem;
      }
      p.title {
        @include horizontal-center;
        width: 2.33rem;
        height: .40rem;
        background: transparent url('../images/app/home/home_title_bg.png') no-repeat center center;
        background-size: 100% 100%;

        text-align: center;
        top: .55rem;

        span {
          width: 100%;
          font-size: .24rem;
          color: #231815;
          vertical-align: top;
          line-height: .30rem;
          height: .33rem;
        }
      }
      p.phone {
        @include horizontal-center;
        width: 2.46rem;
        height: .48rem;
        background: transparent url('../images/app/home/home_phone_bg.png') no-repeat center center;
        background-size: 100% 100%;
        text-align: center;

        color: #fff;

        top: 1.18rem;
      }
      span.code {
        position: absolute;
        right: 0;
        top: 1.22rem;
        display: inline-block;
        width: .31rem;
        height: .31rem;
        background: transparent url('../images/app/home/home_code.png') no-repeat center center;
        background-size: 100% 100%;
      }
      .mid-head {
        position: absolute;
        top: 1.5rem;
        height: 1.4rem;
        width: 100%;
        @include create-circle-image(1.4rem);
        background: transparent url('../images/app/home/home_partner.png') no-repeat right center;
        background-size: 5.53rem .47rem;
      }

    }
    .bottom {
      position: relative;
      width: 100%;
      bottom: 0;
      height: 1.37rem;
      .item {
        position: relative;
        width: 3.70rem;
        background: transparent url('../images/app/home/home_mask.png') no-repeat right center;
        background-size: 100% 100%;
        height: 1.37rem;
      }
      .item-l {
        float: left;
      }
      .item-r {
        float: right;
      }
      .bottombox {
        @include col-center-text-new(1.37rem, 1rem, 100%, .4rem, .28rem, .56rem, .4rem);
        .num {
          color: #FDDD3A !important;
        }
        .text {
          color: #fff !important;;
        }
        background-color: transparent;
      }
      .item .icon-home-order, .item .icon-home-money {
        position: absolute;
        bottom: .3rem;
        left: .72rem;
        display: inline-block;
        background-size: contain;
        width: .51rem;
        height: .48rem;
        /*width: .32rem;
        height: .48rem;*/
      }
      .icon-home-order {
        background: transparent url('../images/app/home/icon_home_order.png') no-repeat center bottom;
      }
      .icon-home-money {
        background: transparent url('../images/app/home/icon_home_money.png') no-repeat center bottom;
      }
    }
  }
  .box-enter {
    background-color: #fff;
    padding: .26rem 0;
    @include col-center-img-new(1.86rem, 1.52rem, 33.33%, .24rem, 1.03rem, .5rem);
  }
}

//首页 end

//品牌联盟begin
.brand-alliance {
  .imgshowbox {
    position: relative;
    margin-bottom: -1rem;
    height: 100%;
    img {
      width: 100%;
    }
    .btn {
      position: absolute;
      bottom: 2.5rem;
      width: 3rem;
      height: .93rem;
      line-height: .93rem;
      font-size: .38rem;
      text-align: center;
      color: #231815;
      border-radius: 1.2rem;
      text-shadow:none;
      @include horizontal-center;

      background: transparent url('../images/app/alliance/btn_enter_bg.png') no-repeat center center;
      background-size: 100% 100%;
    }
  }

  //品牌联盟列表申请加入
  .itembox {
    background-color: #fff;
    @include layout-col-3(1.8rem, 5.7rem, 0rem);
   padding: .4rem .24rem;
    .item-left {
      @include create-square-image(1.17rem, 1.17rem, 0rem);
      align-self: flex-start;
      //border: 1px solid green;
      padding-right: .3rem;
      flex-grow:0;
      .imgbox::after{
        position: absolute;
        top: -0.5px;
        left: -0.5px;
        width: 200%;
        height: 200%;
        content: '';
        border: 1px solid #e3e5e9;
        border-radius: 6px;//圆角
        transform: scale(0.5);
        transform-origin: top left;
      }

    }
    .item-middle {

      //border: 1px solid red;
      position: relative;
      flex-grow:1;
      .name {
        display: inline-block;
        color: #231815;
        font-size: .28rem;
        width: 3.3rem;
        height: .34rem;
        line-height: .34rem;
        @include ellipsis;
      }
      .btn-apply {
        display: inline-block;
        text-align: center;
        width: 1.79rem;
        height: .45rem;
        line-height: .45rem;
        background: transparent url('../images/app/alliance/btn_apply_bg.png') no-repeat center center;
        background-size: 100% 100%;
        float: right;
        font-size: .22rem;
        color: #231815;
        position: absolute;
        right: 0;
        top: 0;
      }
      .info {
        margin-top: .6rem;
        @include col-center-text-new(1.06rem, .8rem, 33.33%, .42rem, .2rem, .5rem, .3rem);
        span.num {
          vertical-align: top;
          color: #FD5D00 !important;
          .sign {
            font-style: normal;
            font-size: .3rem;
            height: .26rem;
            line-height: .6rem;
          }
        }
        span.text {
          display: inline-block;
          width: 1.18rem;
          border-radius: 5px;
          color: #9FA0A0 !important;
          background-color: #F4F4F4;
        }
      }
    }
  }
}

//品牌联盟end

















//所有店铺 store.css相关begin-------------------------------------
#qrcode_box {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 5rem;
  background-color: #fff;
  /* display: none; */
  .close_qrcode {
    text-align: right;
    padding: 0.2rem;
    img {
      height: .5rem;
      width: 0.5rem;
    }
  }
  .qrcode_img {
    margin: 0 auto;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}

//店铺 begin
.jm-store {
  .store {
    position: relative;
    height: 2.9rem;
    background: url("../images/store/store-bg.jpg") no-repeat center center;
    background-size: cover;
  }
  .box {
    position: absolute;
    left: .78rem;
    top: .8rem;
    height: 1.46rem;
    display: flex;
    .logobox {
      flex: 0 0 1.4rem;
    }
    @include create-circle-image(1.4rem, 0rem);
    .imgbox {
      img {
        background: url("../images/store/icon_store_bg.png") no-repeat center center;
        background-size: 100% 100%;
      }
    }
    .desc {
      flex: 1 0 3.48rem;
      height: 1.24rem;
      padding-left: .23rem;
      .name {
        width: 3.48rem;
        display: block;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: .28rem;
        color: #F4F4F2;
        @include ellipsis;
      }
      .wel {
        width: 3.48rem;
        display: block;
        font-size: .23rem;
        line-height: 0.28rem;
        height: 0.28rem;
        color: #A09E9F;
        @include ellipsis;
      }
    }
  }

  .friend {
    position: absolute;
    top: 1.4rem;
    right: 0;
    width: 1rem;
    height: .56rem;
    background: url("../images/store/icon_code.png") no-repeat center center;
    background-size: cover;
  }
}
//店铺 end
.jm-goodsign, .jm-goodrecom{
  .navbox{
    @include title-left-icon();
    .item {
      padding-left: .21rem;
    }
    .more{
      padding-right: .21rem;
    }
  }
}

//品牌推荐
.jm-goodsign {
  //@include goodsign;
  position: relative;
  background: #F4F4F4;
  .content {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .item {
      background: #fff;
      flex: 0 1 2.5rem;
      height: 1.88rem;
      //border-left: 1px solid #f4f4f4;
      position: relative;
      overflow: hidden;
      img {

        position: absolute;
        display: inline-block;
        width: 65%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::before {
        border-left: 1px solid #e1e1e1;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: scaleX(0.5);
        width: 1px;
        z-index: 10;
      }
      &::after {
        border-bottom: 1px solid #e1e1e1;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        transform: scaleY(.5);
        width: 100%;
        z-index: 10;
      }
      &:nth-child(3n+1) {
        border-left: none;
      }
    }
  }
}

//精品推荐
.jm-goodrecom {
  position: relative;
  background: #f4f4f4;
  color: #00aa00;
}

.jm-backtop {
  display: none;
  position: fixed;
  right: 9px;
  bottom: 1rem;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #fdfdfd url("../images/store/icon_backtop.png") no-repeat center center;
  background-size: cover;
  z-index: 1210;
  /*transform-origin: 0px 0px 0px;
  opacity: 1;
  transform: scale(.8);
  transform-origin: center center;*/
  &.none {
    display: block;
  }
}

#jm-goodsign .content {

}

//店铺详情begin
/*.jm-header {
  @include jm-header;
}*/

.store-detail {
  .top {
    position: relative;
    height: 1.66rem;
    background-color: #fff;
    margin-bottom: .24rem;

    .left {
      @include vertical-center;
      display: inline-block;
      padding-left: .5rem;
      width: 5rem;
      height: 1rem;
      line-height: 1rem;
      .imgbox {
        @include vertical-center;
        display: inline-block;
        height: .76rem;
        width: .76rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .title {
        @include vertical-center;
        padding-left: 1rem;
        font-size: .28rem;
        color: #231815;
        width: 100%;
        line-height: 1.2;
        display: inline-block;
        @include rows-ellipsis(2);
      }
    }
    .right {
      @include vertical-center;
      margin-top: -.1rem;
      float: right;
      right: 0;
      width: 1.12rem;
      height: .78rem;
      .uptext {
        font-size: .24rem;
        position: relative;
        z-index: 1;
        height: .5rem;
        line-height: .5rem;

        padding-left: .46rem;
        background: url("../images/store/likie_iocn.png") no-repeat .11rem center;
        background-color: #c72443;
        background-size: .24rem .24rem;
        color: #fff;
        border-top-left-radius: .1rem;
        border-bottom-left-radius: .1rem;
      }
      .downtext {
        font-size: .18rem;
        position: relative;
        text-align: center;
        height: .5rem;
        line-height: .5rem;
        margin-top: -.1rem;
        padding-top: .05rem;
        background-color: #fee662;
        color: #231815;
        border-top-left-radius: .1rem;
        border-bottom-left-radius: .1rem;
        z-index: 0;
      }
    }
  }
  .mid {
    .item {
      background-color: #fff;
      @include link-item-icon(.84rem, 0px);
      .title{
        font-size: .26rem;
      }

    }
    .provider-item .arrow-icon {
      width: .40rem !important;;
      height: .38rem !important;;
      background-image: url("../images/common/icon-provider.png") !important;

    }

    .code-item .arrow-icon {
      width: .40rem !important;;
      height: .38rem !important;;
      background-image: url("../images/common/icon_code.png") !important;
    }
    .time-item .time, .provider-item .orderlink {
      color: #9FA0A0;
      padding-left: .6rem;
      font-size: .26rem;
    }
  }
  .bottom {
    //@include goodsign;
    background-color: #fff;
    color: #231815;
    .title {
      padding-left: .28rem;
      height: .83rem;
      line-height: .83rem;
      font-size: 0.26rem;
    }
    .content{
      overflow: hidden;
    }

    .item{
      width: 33.33%;
      float: left;
      height: 1.53rem;
      background-color: #fff;
      padding: .2rem;
      position: relative;
      margin-bottom: .24rem;
      overflow: hidden;
    }
    .box {
      display: table;
      width: 80%;
      height: 80%;
      .table-cell{
        display: table-cell;
        vertical-align: middle;
        img{
          width: 100%;
        }

      }
    }

  }
}

//店铺详情end

//店铺简介begin
.store-desc {
  .wrapper {
    text-align: center;
    position: relative;;
    padding: .6rem .8rem;
    background-color: #fff;
    font-size: .24rem;
    color: #595757;
    height: 12.10rem;
    p {
      text-align: left;
      line-height: .36rem;
      margin-bottom: .4rem;
      word-wrap: break-word;
    }

    .code {
      position: absolute;
      display: inline-block;
      top: 2.2rem;
      bottom: 1.35rem;
      left: 50%;
      transform: translateX(-50%);
      width: 4.35rem;
      height: 4.35rem;
      background: url("../images/brand/code-bg.png?v=18cfa") no-repeat center center;
      background-size: contain;

    }
  }
}
//店铺简介end
//所有店铺 store.css相关end--------------------------------


//所有品牌 brand.css相关begin------------------------

//品牌列表
.brandlistbox {
  background: #fff;
  color: #231815;
  //margin-bottom: 0.3rem;
  .brand-type {
    @include title-text-both-icon;
  }
  .list {
    background-color: #f4f4f4;
  }
  .item {
    //margin-bottom: .25rem;
    background-color: #fff;
  }
  .itembox {
    @include brand-list-item;
    .item-middle{
      align-self: flex-start;//中间部分上对齐
    }
    .btn_yellow, .btn_peach {
      //width: 1.3rem !important;
      // text-align: center !important;
    }
  }
}

//品牌合伙人
.partnership {
  background: #f4f4f4;
  color: #231816;
  margin-bottom: 0.3rem;
  .list {
    background: #fff;
    .shop-item {
      @include layout-col-3(1.9rem, 4.1rem, 1.4rem, center);
      padding: .3rem 0;
      .img-item , .item-left{

        @include create-circle-image(1.18rem, 0.12rem);

        padding: 0 .45rem 0 .24rem;
        .imgbox{
          background-color: #DDDDDD;
          position: relative;
          &::after{
            position: absolute;
            top: -0.5px;
            left: -0.5px;
            width: 200%;
            height: 200%;
            content: '';
            //border: 1px solid green;
            //border-radius: 6px;//圆角
            transform: scale(0.5);
            transform-origin: top left;
          }
          .noimg {
            background: #DDDDDD;
            border-radius: 50%;
            width: .94rem;
            height: .94rem;
          }
        }

      }

      .desc-item , .item-middle{
        //border: 1px solid red;
        .name {
          display: block;
          font-size: .28rem;
          margin-bottom: .1rem;
        }
        .phone {
          display: block;
          position: relative;
          color: #6f6d6e;
          font-size: .28rem;
          padding-left: .4rem;
          line-height: .35rem;
          height: .35rem;
          .pos {
            display: inline-block;
            position: absolute;
            left: 0;
            width: .35rem;
            height: .35rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .btn-item , .item-right{

        .code {
          display: inline-block;
          width: .41rem;
          height: .41rem;
          background-size: cover;
          float: right;
          right: .24rem;
        }
      }
    }
  }
}

//品牌合伙人 品牌商品头部公用
.partner {
  background-color: #fff;
  position: relative;
  padding: .36rem .24rem;
  overflow: hidden;
  //margin-bottom: 0.3rem;
  .logo {
    float: left;
    width: 1.18rem;
    height: 1.18rem;

    @include create-circle-image(1.18rem,0.12rem);
    .imgbox{
      background-color: #DDDDDD;
    }
  }
  .twitter {
    float: left;
    width: 3rem;
    margin-left: .3rem;
    //height: 1.18rem;
    .name {
      display: block;
      color: #221715;
      font-size: .28rem;
      line-height: .4rem;
      @include ellipsis;
    }
    .sell {
      display: block;
      color: #acacac;
      font-size: .22rem;
      height: .3rem;
      line-height: .3rem;
      @include ellipsis;
    }
    .focus {
      display: block;
      position: relative;
      top: 0.1rem;

      color: #6f6d6e;
      font-size: .20rem;
      padding-left: .4rem;
      .pos {
        display: inline-block;
        position: absolute;
        left: 0;
        width: .3rem;
        height: .3rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .payback {
    position: relative;
    float: right;
    width: 2.44rem;
    height: 1.10rem;
    font-size: .22rem;
    .left {
      position: absolute;
      display: inline-block;
      z-index: 10;
      .outcircle {
        background: #fff5c4;
        display: inline-block;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        padding: .1rem;
      }
      .incircle {
        position: relative;
        background: #fee358;
        display: inline-block;
        width: .9rem;
        height: .9rem;
        border-radius: 50%;
        font-size: 0;
        display: flex;
        align-content: center;
        align-items:flex-start;
        flex-wrap: wrap;
        span {
          position: relative;
          display: block;
          text-align: center;
          width: 100%;

          &.up, &.down {
            font-size: .22rem;
            line-height: 1.1;
            color: #231815;
          }
        }
      }
    }
    .bottom {
      position: absolute;
      left: .5rem;
      top: .1rem;
      z-index: 0;
      display: inline-block;
      height: .9rem;
      width: 2rem;
      .up, .down {
        background: #fff5c4;
        height: .43rem;
        padding-left: .6rem;
        line-height: .43rem;
        white-space: nowrap;
        position: relative;
      }
      .up::after {
        border-bottom: 2px solid #fee45c;
        bottom: -1px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        transform: scaleY(.5);
        width: 100%;
        z-index: 10;
      }
    }
  }
}

//商店二维码
//#code {
//body {
//background: #fff;
//}
.codeshop {
  background: #fff;
  //min-height: 100%;
  padding: 1.4rem 1.4rem 1.1rem 1.4rem;
  text-align: center;
  height: 12.10rem;
  .code {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    background: url("../images/brand/code-bg.png") no-repeat center center;
    background-size: contain;
    img {
      width: 2.87rem;
      height: 2.84rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .code2 {
    display: inline-block;
    width: 4.50rem;
    height: 3rem;
    margin-top: .48rem;
    img {
      width: 100%;
    }
  }
}
//}

//品牌商品
.brandgoods {
  background: #f4f4f4;
  color: #231816;
  .goods-box {
    display: flex;
    flex-direction: row;
    width: 6.96rem;
    margin: 0.26rem .28rem .28rem .28rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .goods-item {
      flex-basis: 3.37rem;
      height: 4.74rem;
      background-color: #fff;
      margin-bottom: .2rem;
      position: relative;
      &:nth-child(2n) {
        margin-left: .2rem;
      }
      .hot{
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        background-color: #c72443;
        font-size: 12px;
        color: #fff;
        padding: 1px 2px;
      }
      .imgbox img{
        width: 100%;
      }
      .infobox{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: .1rem .1rem;
        .brand-name{
          display: block;
          font-size: .24rem;
          height: .5rem;
          line-height: .5rem;
          @include ellipsis;
        }
        .price{
          color: #e50000;
          font-size: .28rem;
          height: .6rem;
          line-height: .6rem;
        }
        .oldprice{
          color: #949494;
          font-size: .22rem;
          text-decoration: line-through;
          padding-left: .2rem;
        }
      }
    }
  }
}


//所有品牌 brand.css相关end--------------------------


//分享app begin
.shareapp{
  background-color: #fff;
    //height: 10.34rem;
    position: relative;
    padding: .65rem 0;
    @include create-square-image(3.48rem,3.48rem,0);
    .imgbox{
      margin: 0 auto;
      margin-bottom: .5rem;
    }
  .desc{
    font-size: .24rem;
    color: #9FA0A0;
    text-align: center;
  }
}
//分享app end


//品牌分红 及统计begin
.reward, .reward-count{
  .list-title{
    background: #fff;
    @include link-item-icon(1rem, 0px);
    .limit{
      color: #9FA0A0;
    }
    .title {
      font-size: .25rem;
    }
    .orderlink {
      font-size: .25rem;
    }
  }
  .list-content-item{
    background: #fff;
    padding: .25rem 0;
    @include layout-col-3(1.46rem, 4.64rem, 1.4rem, center);
    .item-left{
      padding-left: .3rem;
      padding-right: .27rem;
      @include create-circle-image(.8rem, 0)
    }
    .item-right {
      padding-right: .24rem;
      text-align: right;
      p{
        color: #F23030;
      }
    }
    .item-middle {
      p{
        color: #231815;
        font-size: .25rem;
      }
      .time {
        color: #9FA0A0;
        font-size: .25rem;
        padding-left: .24rem;
      }
      .desc{
        color: #9FA0A0;
        font-size: .25rem;
        @include rows-ellipsis(3);
      }
    }
  }
}
.reward {
  .reward-header{
    position: relative;
    height: 4.8rem;
    background: #F14E49 url("../images/app/home/reward-bg1.png") no-repeat center top;
    background-size: 100% 4.8rem;
    .rewardbox {
      padding-top: 1.8rem;
      .reward-item{
        position: relative;
        width: 50%;
        float: left;
        padding-left: .88rem;
        font-size: 0;
        .title {
          color: #fff;
          font-size: .3rem;
          height: .72rem;
        }
        .gapline{
          display: inline-block;
          background: #fff;
          width: .3rem;
          height: .04rem;
          margin-bottom: .6rem;
          margin-left: .05rem;
        }
        .num{
          color: #fff;
          font-size: .7rem;
          height: .7rem;
        }
        span{
          font-size: .24rem;
        }
      }
    }
  }
}
.reward-count {
  .reward-header{
    position: relative;
    height: 2.65rem;
    background: #F14E49 url("../images/app/home/reward-bg1.png") no-repeat center top;
    background-size: 100% 2.65rem;
    .title{
      position: absolute;
      top: .72rem;
      left: .88rem;
      color: #fff;
    }
    .num{
      position: absolute;
      top: 1.17rem;
      left: .88rem;
      color: #fff;
      font-size: .7rem;
      height: .7rem;
    }
    span{
      font-size: .24rem;
    }
    .tips{
      position: absolute;
      right: .24rem;
      bottom: .3rem;
      color: #fff;
      text-align: right;
    }
  }

  .list-title .orderlink{
    color: #F23030;
  }

}
//品牌分享end