@import "app/_mixin";
//社区详情页begin
.bbs-detail-new {
  .head {
    position: relative;
    height: 4.9rem;
    background: url("../images/app/bbs/bbs_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
    .content {
      text-align: center;
      padding-top: 1.34rem;
      @include create-circle-image(1.2rem, 0);
      .imgbox {
        margin: 0 auto;
      }
      .theme {
        font-size: .26rem;
        color: #fff;
        padding: .15rem 0;
      }
      .attention {
        display: inline-block;
        background-color: #F23030;
        width: 1.31rem;
        height: .34rem;
        line-height: .34rem;
        color: #fff;
        font-size: .24rem;
      }
      .plus {
        font-size: .30rem;
      }
      .desc {
        margin-top: .34rem;
        font-size: .26rem;
        color: #fff;
      }
    }
    .publish-tie {

      position: absolute;
      right: .24rem;
      top: .93rem;
      .desc{
        text-align: center;
        font-size: .22rem;
        color: #fff;
      }


    }
  }

}

.posts-head {
  position: relative;
  background-color: #fff;
  height: 1.17rem;
  padding: 0 .24rem;
  .tips {
    float: left;
    font-size: .24rem;
    color: #231815;
    line-height: 1.17rem;
    padding-left: .13rem
  }
  .switchbox {
    width: 1.4rem;
    position: absolute;
    top: 50%;
    right: 0.1rem;
    transform: translateY(-50%);
  }
}
.bbs-topic {
  height: 0.8rem;
  display: block;
  position: relative;
  width: 7.5rem;
  max-width: 1080px;
  .bbs-topic-inner {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 7.5rem;
    max-width: 1080px;
    //z-index: 100;
    text-align: center;
    .tie-pic {
      display: inline-block;
      position: relative;
      top: -.2rem;
    }
  }
}


//选项框
$duration: .4s;
$checkedColor: #F23030;
.bbs-switch {
  width: 1.4rem;
  height: .54rem;
  position: relative;
  border: 1px solid #4D514F;
  background-color: #4D514F;
  box-shadow: #4D514F 0 0 0 0 inset;
  @include borderRadius(.4rem);
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  &:before {
    content: '';
    width: .48rem;
    height: .48rem;
    position: absolute;
    top: 50%;
    left: .01rem;
    margin-top: -.24rem;
    @include borderRadius(.24rem);
    background-color: #fff;
  }
  &:checked {
    border-color: $checkedColor;
    background-color: $checkedColor;
    &:before {
      left: .88rem;
    }
    &:after {
      content: '精选';
      color: #fff;
      width: .88rem;
      height: .48rem;
      line-height: .48rem;
      position: absolute;
      left: .03rem;
      font-size: .24rem;
      top: 50%;
      margin-top: -.24rem;
      text-align: center;
    }
  }
  &.switch-animbg {
    transition: background-color ease $duration;
    &:before {
      transition: left .3s;
    }
    &:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: $checkedColor;
      transition: border-color $duration, background-color ease $duration;
      &:before {
        transition: left 0.3s;
      }
    }
  }
}


//商圈列表
.posts-list {
  .posts-item {
    padding: 0.24rem .24rem;

    background-color: #fff;
    position: relative;
    .left-side {
      float: left;
      width: 0.8rem;
      height: auto;
      @include create-circle-image(0.6rem, 0)
    }
    .right-side {
      position: relative;
      float: left;
      width: 6.2rem;
    }
    .username {
      line-height: .66rem;
      color: #3887FF;
      font-size: .3rem;
      width: 3.6rem;
      @include ellipsis;
    }
    .spe-post {
      position: absolute;
      right: 0;
      top: 0.14rem;
      font-size: 0;
      .text {
        color: #E7A834;
        font-size: .20rem;
        vertical-align: middle;
      }
    }
    .title {
      color: #000000;
      font-size: .26rem;
      line-height: .42rem;
      width: 5rem;
      @include ellipsis;
    }
    .content {
      max-width: 5rem;
      float: left;
      font-size: .26rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: .4rem;
      color: #595757;
    }
    .open .content {
      color: #595757;
      overflow: visible;
      white-space: pre-wrap;
      max-width: 5.9rem;
      height: .8rem;
      width: 100%;
    }
    .open-arrow {
      float: left;
      font-size: 0;
      .text {
        padding-right: .1rem;
        height: .4rem;
        color: #3887FF;
        font-size: .26rem;
        display: inline-block;
        vertical-align: middle;
        @include vertical-align();
      }
      .close-text {
        display: none;
      }
    }
    .open .icon_bbs_down_arrow {
      transform: scaleY(-1);
    }
    .open .close-text {
      display: inline-block;
    }
    .open .open-text {
      display: none;
    }
    .open .open-arrow {
      float: none;
      display: block;
      width: 100%;
    }
    .picbox {
      margin: 0.1rem 0 .2rem 0;
      .picitem {
        float: left;
        width: 1.95rem;
        height: 1.95rem;
        margin-right: .12rem;
        margin-bottom: .05rem;
        .pic {
          width: 100%;
          height: 100%;
          object-fit:cover;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
    .bottom {
      .count {
        float: right;
        font-size: 0;
        margin-right:.2rem;
      }
      .like {
        float: right;
        color: #9FA0A0;
        font-size: 0;
      }
      .text {
        color: #9FA0A0;
        font-size: .2rem;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }
  .mrg-r10 {
    margin-right: .08rem;
  }
}
.shareTime {
  float: left;
  display:inline-block;
  line-height:18px;
}
.shareTime i {
  background: url("../images/app/bbs/time-icon.png") no-repeat left top;
  width:.3rem;
  height:.3rem;
  background-size:100%;
  display:inline-block;
  vertical-align: middle;
  margin-right: .1rem;
  float: left;
  margin-top: .02rem;
}
.shareTime .text {
  float:right;
  margin-top:.03rem;
}

@keyframes play {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

//社区详情页end


//九件社区begin
.bbs {
  .banner {
    height: 2.82rem;
  }

  .quick-entry-nav {
    padding: .3rem .3rem;
    position: relative;
    background-color: #fff;
    height: 4.6rem;
  }
  .quick-entry-link {
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
    display: block;
    height: 2rem;
  }
  .quick-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.6rem;
    span {
      overflow: hidden;
      display: flex;
      -webkit-line-clamp: 1;
      justify-content: center;
      line-clamp: 1;
      height: 2em;
      font-size: .26rem;
      color: #585657;
    }
    img {
      height: 1.16rem;
      width: 1.16rem;
    }
  }
  //数据提示位置
  .data-tips .tipsbox {
    padding-top: 0rem;
  }
}
.bbs, .bbs-detail{
  .itembox  {
    background-color: #fff;
    padding: .4rem 0;
    @include layout-col-3(1.38rem, 3.5rem, 2.5rem, flex-start);
    .item-left {
      padding: 0 .26rem 0 .24rem;
      @include create-square-image(.82rem, .82rem, 0rem);
      flex-grow: 0;
    }
    .item-middle {
      p {
        color: #231815;
        font-size: .22rem;
        line-height: .48rem;
        height: .48rem;
      }
      p.title {
        font-size: .28rem;
        color: #9FA0A0;
        margin-bottom: .2rem;
        .label {
          display: inline-block;
          width: .07rem;
          height: .25rem;
          background-color: #FEDE3B;
          vertical-align: middle;
          border-radius: 2px;
          margin-right: .1rem;
        }
      }
      span {
        padding-left: .24rem;
        font-size: .24rem;
        color: #9FA0A0;

      }
    }
    .item-right {
      padding-right: .24rem;
      position: relative;
      flex-grow: 1;
      padding-top: .1rem;
      position: relative;
      .time {
        white-space: nowrap;
        color: #9FA0A0;
        font-size: .20rem;
        padding-left: .3rem;
        background: url("../images/app/bbs/icon_bbs_clock.png") no-repeat left center;
        background-size: .23rem .21rem;
        position: absolute;
        top: 0;
        right: .24rem;
        line-height: .48rem;
        height: .48rem;
        //padding-right: .24rem;
      }
      .code-box {
        margin-top: .9rem;
        float: right;
        right: .24rem;
        text-align: right;
        height: 1.07rem;
        width: 2rem;
        img {
          display: inline-block;
          width: .71rem;
          height: .72rem;
        }
        span {
          text-align: right;
          display: block;
          font-size: .28rem;
          color: #9FA0A0;
          white-space: nowrap;
        }

      }
    }
  }
}
.bbs-detail{
  .itembox{
    .item-middle{
      p.title{
        margin-bottom: 0rem;
      }
    }
  }
  .share{
    padding: 0.5rem  0 .7rem 0;
    background-color: #fff;
    .title{
      padding: .05rem 0;
      width: 3.4rem;
      background-color: #F23030;
      text-align: center;
      color: #fff;
      font-size: .24rem;
      height: .48rem;

      border-radius: .5rem;
      margin: 0 auto;
    }
    .code{
      position: relative;
      padding: .55rem 0;
      @include create-square-image(3.48rem,3.48rem,0);
      .imgbox{
        margin: 0 auto;
      }

    }
    .desc{
      font-size: .24rem;
      color: #9FA0A0;
      text-align: center;
    }
  }
}
.mrg-bottom80{
  margin-bottom: 0.8rem;
}
//九件社区end
//商圈发布end

/*******商圈发布分享页面START*******/
.module {
  margin-bottom:.25rem;
  background-color:#fff;
  padding:0rem .23rem;
}
.module .title {
  padding:.35rem 0;
  border-bottom:1px solid #e7e7e7;
}
.module .title input {
  height:.43rem;
  line-height:.43rem;
  width:100%;
  border:0 none;
  padding:0 0.02rem;
  font-size:.28rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#d5d5d5;
}
.module .content {
  padding:.3rem .02rem;
  padding-bottom:.7rem;
}
.module .content textarea {
  border:0 none;
  font-size:.28rem;
  font-family:"微软雅黑";
  height:1.85rem;
  width:100%;
}
.module .content span {
  float:right;
  color:#d5d5d5;
  font-size:.28rem;
}
.module p {
  padding-top:.25rem;
  padding-bottom:.2rem;
  font-size:.28rem;
  color:#a1a1a1;
}
.module .img-list {

}
.module .img-list li {
  float:left;
  width:1.55rem;
  height:1.55rem;
  margin-right:.1rem;
  margin-bottom: .1rem;
  position:relative;
}
.module .img-list img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.module .img-list .delimg {
  position:absolute;
  bottom:0;
  left:0;
  height:.4rem;
  line-height:.4rem;
  background-color:rgba(0,0,0,.5);
  text-align:center;
  display:block;
  width:100%;
  color:#fff;
  font-size:.2rem;
}
.module .ch { clear:both; padding-bottom:.35rem;}
.module .cat_list {
  padding-top:.2rem;
}
.module .cat_list li {
  float:left;
  width:1.65rem;
  height:.45rem;
  line-height:.45rem;
  margin-bottom:.3rem;
  font-size:.28rem;
  text-align:center;
  color:#333;
}
.module .cat_list .activa {
  color:#f43d3f;
}
.module .cat_list li input {
  display:none;
}
.share_but {
  margin-top:.55rem;
  margin-bottom:.3rem;
  height:.75rem;
  text-align:center;
}
.share_but button {
  width:7rem;
  margin:0 auto;
  border:0 none;
  background-color:#f23030;
  color:#fff;
  height:.75rem;
  line-height:.75rem;
  border-radius:.12rem;
  display:block;
}
#loadingDiv {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
  left: 0px;
  top: 0px;
  display: none;
}
#loadingDiv img {
  position: fixed;
  width:1.5rem;
  height:1.5rem;
  top: 3rem;
  left: 50%;
  margin-left: -0.75rem;
}
/*******商圈发布分享页面END*******/


//图片预览begin


#large_container{
  &.large{
    width:100% ;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.9);
    overflow: hidden;
    z-index: 101;
  }
  .swiper-wrapper img{
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .swiper-pagination-bullet{
    background: #CEB8B8;
  }
}
.SaveImg {
  width:2rem;
  height:.6rem;
  line-height: .6rem;
  text-align: center;
  background-color:rgba(0, 0, 0, 1);
  border-radius:.08rem;
  position: fixed;
  bottom: 1rem;
  left:50%;
  margin-left:-1rem;
  color:#fff;
  z-index:9999;
  font-size:.26rem;
  display:none;
}
//图片预览end


//商城社区begin----------------------------------------
/****商城社区begin------**/
.shop-community-hobby {
  .head{
    height: 2.8rem;
    overflow: hidden;
    background: url("../images/app/shopbbs/commu_hobby_top_bg.png") no-repeat center top;
    background-size: 100% auto;
    .desc{
      margin-top: .85rem;
      text-align: center;
      .title-bg{
        color:#fff;
        font-size: .4rem;
        line-height: .84rem;
       }
      .title-sm {
        color:#fff;
        font-size: .3rem;
        line-height: .5rem;
      }
    }
  }
  .hobby{
    .hobby-box{
      margin: .15rem .14rem;
    }
    .bobby-item{
      position: relative;
      float: left;
      width: 33.33%;
      .inner{
        position: relative;
        margin: .15rem .14rem;
        overflow: hidden;
      }
      input{
        opacity:0;
        //display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 0;
      }
      img{
        width: 100%;
        height: 100%;
      }
      .checkbox-icon{
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
        width: .34rem;
        height: .34rem;
      }

    .hobby-desc{
      position: absolute;
      width: 100%;
      left: 0;
      bottom: .1rem;
      height: .54rem;
      line-height: .54rem;
      color: #231815;
      font-size: .3rem;
      text-align: center;
      @include ellipsis;
     }

    }
    .checkbox-un-icon{
      background: url("../images/app/shopbbs/checkbox_hobby_unselected.png") no-repeat center top;
      background-size: 100% auto;
    }
    .active .checkbox-un-icon{
      background: url("../images/app/shopbbs/checkbox_hobby_selected.png") no-repeat center top;
      background-size: 100% auto;
    }
    .form-btn-box{
      height: .98rem;
      line-height: .98rem;
      .form-btn{
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .btn-text{
        display: block;
        text-align: center;
        font-size: .35rem;
        height: .98rem;
        line-height: .98rem;
        color: #9FA0A0;
        background-color: #DDD;
      }
    }

  }
}


.shop-community-index-head {
  background-color: #E60000;
  .header-center-box {
    background-color: #E60000;
  }
  .search-form-item {
    background-color: #C30D23 !important;
    color: #fff !important;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff;
  }
  .icon_header_commu_search {
    display: inline-block;
    width: .26rem;
    height: .26rem;
    background: url("../images/app/shopbbs/icon_header_commu_search.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
  }

  .icon_header_commu_plus {
    display: inline-block;
    width: .47rem;
    height: .35rem;
    background: url("../images/app/shopbbs/icon_header_commu_plus.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
  }
}

.shop-community-index{
  //头部导航
  .nav-index-box{
    position: relative;
    background: #fff;
    border-bottom: 1px solid #D5D5D5;
    height: .9rem;
    .main-nav{
      font-size: 0;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      margin-right: 1.3rem;
    }
    .nav-arrow-box{
      text-align: center;
      border-left: 1px solid #D5D5D5;
      position: absolute;
      width: 1rem;
      right: 0;
      top: .18rem;
      .arrow{
        display: inline-block;
        width: .25rem;
        height: .25rem;
        border-left: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
        transform: rotate(-45deg) translateY(-.1rem);
      }
      .open.arrow{
        display: inline-block;
        width: .25rem;
        height: .25rem;
        border-left: 1px solid #D5D5D5;
        border-top: 1px solid #D5D5D5;
        border-bottom: none;
        transform: rotate(45deg) translateY(.1rem);;

      }
    }
    .nav-type-item {
      font-size: 0;
      display: inline-block;
      position: relative;
      text-align: center;
      padding: .25rem .25rem .35rem 0.25rem;
      span{
        font-size: .25rem;
        line-height: 1;
        padding:.11rem 0;
        color: #9FA0A0;
      }
      &.current span{
        color: #231815;
        border-bottom: 2px solid #F23030;
      }
    }
  }
  .shop-community-index-banner{
    height: 2.8rem;
  }
  .index-hobby-box{
    display: flex;
    flex-direction: row;
    width: 7.5rem;
    min-height: 2.82rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    background-color: #F4F4F4;
    padding-bottom: .23rem;
    .hobby-item {
      width: 30%;
      background-color: #fff;
      &:first-child{
        margin-left: .20rem;
      }
      margin-left: .12rem;
      .inner {
        position: relative;
        text-align: center;
        font-size: 0;
        padding: 0 .14rem;
      }
      .item {
        @include create-circle-image(.8rem,0rem);
        margin:.3rem 0 .25rem 0;
        display: inline-block;
        overflow: hidden;
      }
      .title {
        font-size: .3rem;
        text-align: center;
        color: #231815;
        line-height: .5rem;
        @include ellipsis;
      }
      .desc {
        font-size: .25rem;
        text-align: center;
        color: #9FA0A0;
        line-height: .32rem;
        height: .64rem;
        color: #9FA0A0;
        @include rows-ellipsis(2);
      }
      .attention-btn{
        display: inline-block;
        margin-top: .4rem;
        margin-bottom: 0.1rem;
        padding: .04rem .35rem;
        text-align: center;
        background-color: #FEDE3B;
        color: #000000;
        font-size: .25rem;
        border-radius: .5rem;
      }
    }
  }
  .index-community-hobby{
    width: 100%;
    padding: 0 .18rem;
    margin: .3rem  auto;
    .waterfall{
      column-count: 2;
      column-gap: .18rem;
      .item {
        .gapy{
          width: 100%;
          height: 0.18rem;
          background-color: #F4F4F4;
        }
        //margin: 0.18rem 0 0 0;
        break-inside: avoid;

        background-color: #fff;
        .imgbox{
          text-align: center;
          overflow: hidden;
          img {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 10px;
          }
        }
        .title{
          font-size: .25rem;
          line-height: .36rem;
          color: #000000;
          @include rows-ellipsis(2);
          height: auto;
          padding: 0 .2rem;
        }
        .desc{
          margin-top: .16rem;
          margin-bottom: .1rem;
          font-size: .2rem;
          line-height: .3rem;
          height: auto;
          color: #9FA0A0;
          @include rows-ellipsis(2);
          padding: 0 .2rem;
        }
        .commu-user{
          display: inline-block;
          margin-top: .14rem;
          font-size: 0;
          padding-left: .2rem;
          @include create-circle-image(.4rem,0);
          .imgbox{
            float: left;
            overflow: hidden;
            display: inline-block;
          }
          .text{
            float: left;
            padding-left: .1rem;
            font-size: .25rem;
            height: .4rem;
            line-height: .4rem;
            color: #231815;
          }
        }
        .praise{
          margin-top: .14rem;
          float: right;
          font-size: 0;
          padding-right: .2rem;
          .text{
            padding-left: .1rem;
            font-size: .25rem;
            height: .4rem;
            line-height: .4rem;
            color: #9FA0A0;
            vertical-align: middle;
          }
        }
      }
    }

    .icon_commu_heart {
      display: inline-block;
      width: .28rem;
      height: .26rem;
      background: url("../images/app/\shopbbs/icon_commu_heart.png") no-repeat;
      background-size: 100% auto;
      vertical-align: middle;
    }
    .icon_commu_red_heart {
      display: inline-block;
      width: .28rem;
      height: .26rem;
      background: url("../images/app/\shopbbs/icon_commu_red_heart.png") no-repeat;
      background-size: 100% auto;
      vertical-align: middle;
    }


  }
  .mask{
    display: none;
  }
  .open.mask{
    position: absolute;
    display: block;
    top: .9rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
  }
  .nav-list{
    padding: .2rem 0;
    background-color: #fff;
    transition: 1s cubic-bezier(0.35,2,0.35,1),opacity 1s;
    .nav-item{
      float: left;
      text-align: center;
      width: 25%;
      height: .4rem;
      margin: .2rem 0;
      color: #9FA0A0;
      font-size: .25rem;
    }
  }
}

//社区详情begin-------------------------
.shop-community-detail{
.head{
  height: auto;
  width: 7.5rem;
  @include create-square-image(100%,100%,0);
}
  .commu-user{
    background-color: #fff;
    .inner{
      padding: 0.35rem 0rem;
      margin: 0 .24rem;
      font-size: 0;
      @include create-circle-image(.8rem,0);
      //border-bottom: 1px solid #D5D5D5;
      overflow: hidden;
    }

    .imgbox{
      float: left;
      overflow: hidden;
      display: inline-block;
    }
    .user-text{
      float: left;
      padding-left: .16rem;
      font-size: .25rem;
      height: .8rem;
      line-height: .8rem;
      color: #231815;
    }
  }
  .commu-box{
    margin: 0.15rem .24rem 0 .24rem;
    padding-bottom: 0.25rem;
    .title{
      padding:.12rem 0;
      font-size: 0.3rem;
      color: #231815;
      span{
        font-size: 0.3rem;
        color: #3A84FF;
      }
    }
    .content{
      height: auto;
      left: .42rem;
      font-size: .25rem;
      color: #9FA0A0;
      overflow: hidden;
      margin-bottom: .3rem;
    }
    .textsize {
      font-size: .25rem;
      color: #9FA0A0;
    }
    .time {
      left: .42rem;
    }
    .praise, .collect {
      float: right;
      margin-left: .4rem;
    }
  }
  .commulink{
    background-color: #fff;
    @include link-item-icon(.85rem,0);
    .bottom-line{
      height: 100%;
    }

    .title{
      color: #9FA0A0;
    }
  }
  .commu-review{
    background-color: #fff;
    .tips{
      background-color: #fff;
      padding: .3rem .28rem .3rem 1.07rem;
      p{
        width: 6.1rem;
        padding: .25rem 0;
        text-align: center;
        background-color: #F4F8FB;
        border-radius: .1rem;
        color: #9FA0A0;
        font-size: .28rem;
      }

    }
    .review{
      .posts-list .posts-item .content{
        max-width: 6rem;
        float: left;
        font-size: .26rem;
        height: auto;
        line-height: .4rem;
        color: #595757;
        white-space:pre-wrap;
        text-overflow:initial;
      }
      .right-side{
        .username{
          color: #231815;
        }
        .bottom{
          margin: .2rem 0;
          line-height: 1;
          .time{
            float: left;
            font-size: .25rem;
            color: #9FA0A0;
          }
          .replay{
            float: right;
            margin-right: .3rem;
            font-size: 0;
          }
        }
        .other-replay-box{
          padding: .28rem .28rem .12rem .28rem;
          position: relative;
          display: block;
          background-color: #F4F8FB;
          height: auto;
          border-radius: .1rem;
          .triangle{
            position: absolute;
            left: .28rem;
            top:-.15rem;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: .2rem solid transparent;
            border-right: .2rem solid transparent;
            border-bottom: .2rem solid #F4F8FB;
          }
          .other-replay-user{
            p{
              line-height: .35rem;
            }
            .replay-user{
              padding-right: .16rem;
            }
            .replay-user,.replay-content{
              font-size: .25rem;
              color: #595757;

            }
          }
          .other-replay-num{
            color: #3786FF !important;
            font-size: .25rem;
            .icon_right_arrow{
              display: inline-block;
              width: .17rem;
              height: .16rem;
              border-right: 1px solid #3786FF;
              border-bottom: 1px solid #3786FF;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
  .index-product-box{
    margin-bottom: 1rem;
    @include swiper-goods-box();
    .swiper-goods .goods-box{
      background-color: #F4F4F4;
    }
    .swiper-goods .goods-box .goods-item{
      margin-left: .12rem;
      border: none;
    }
  }
}
.community-footer{
  height: 1rem;
  background-color: #333333;
  line-height: 1rem;
}

//店铺，新商城首页底部
.community-footer .footer_inner .footer_item{
  flex: 1 1 33.3%;
}
.community-footer{
  background-color: #333;
  display: block;
  position: relative;
  height: 1rem;
  width: 7.5rem;
  max-width: 1080px;

  .footer_inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 7.5rem;
    max-width: 1080px;
    z-index: 100;
    background-color: #333333;
    color: #fff;
    border-top: 1px solid #333333;
    font-size: 0;
    text-align: center;
    justify-content: space-around;
    .footer_item {
      display: inline-block;
      flex: 1 1 33.3%;
      height: 1rem;
      position: relative;
      .link {
        position: relative;
        display: inline-block;
        height: 100%;
        text-align: center;
        font-size: 0;
        line-height: normal;
        color: #fff;
      }
      i[class*='*_common_icon']{
        position: relative;
        display: inline-block;
      }
      .icon-box{
        display: inline-block;
        width: 100%;
        height: (1-.5)+rem;
        line-height: (1-.5)+rem;
        position: relative;
        i{
          position: absolute;
          top:28%;
          left: 50%;
          transform: translate(-50%);
        }
      }
      .text {
        display: inline-block;
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        font-size: .18rem;
        position: relative;
      }
      .link.on .text {
        color: #fff;
      }
    }
  }
}

.icon_footer_commu_praise {
  display: inline-block;
  width: .28rem;
  height: .26rem;
  background: transparent url("../images/app/shopbbs/icon_footer_commu_praise.png") no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
}
.icon_footer_commu_talk {
  display: inline-block;
  width: .30rem;
  height: .27rem;
  background: transparent url("../images/app/shopbbs/icon_footer_commu_talk.png") no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
}
.icon_footer_commu_buy {
  display: inline-block;
  width: .28rem;
  height: .31rem;
  background: transparent url("../images/app/shopbbs/icon_footer_commu_buy.png") no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
}

.icon_header_commu_white_back{
  display: inline-block;
  width: .21rem;
  height: .37rem;
  background: transparent url("../images/app/shopbbs/icon_header_commu_white_back.png") no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
}



.form-comm-reply {
  display: none;
  background-color: #F4F8FB;
  position: relative;
  height: 1rem;
  width: 7.5rem;
  max-width: 1080px;
  .form-comm-inner {
    position: fixed;
    bottom: 0;
    height: 1rem;
    background-color: #F4F8FB;
    padding: 0.2rem .24rem;
    z-index: 1;
  }
  .form-reply{
    height: .6rem;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .form-reply-item{
    float: left;
    height: 100%;
    width: 6rem;
    padding: 0 .1rem;
    border-radius: .05rem;
    font-size: .22rem;
  }
  .form-reply-btn{
    width: 1rem;
    float: left;
    font-size: .25rem;
    height: 100%;
    background-color: #F4F8FB;
    color: #9FA0A0;
  }

  input[type='submit']:enabled:active{
    width: 1rem;
    float: left;
    font-size: .25rem;
    height: 100%;
    background-color: #F4F8FB;
    color: #9FA0A0;
    border: none;
  }
}
//评论
.replay-comment{
  .other-replay-user .replay-comment-box{
    @include create-circle-image(.5rem, 0);
    .imgbox{
      float: left;
      overflow: hidden;
      display: inline-block;
    }
    .replay-user{
      float: left;
      padding-left: .1rem;
      font-size: .25rem;
      height: .5rem;
      line-height: .5rem;
      color: #231815;
    }
    .replay-content{
      display: block;
      width: 100%;
      line-height: .35rem;
      margin: .1rem 0;
    }
  }
  .other-replay-num{
    display: none;
    width: 100%;
    text-align: center;
    color: #9FA0A0 !important;
    &.more-replay .icon_bbs_down_arrow{
      margin-left: .1rem;

    }
    &.more-replay.up .icon_bbs_down_arrow {
      transform: scaleY(-1);
    }
  }
  .more-replay.other-replay-num{
    display: block;
  }
}
.replay-comment-form.form-comm-reply{
  display: block;
}
/****商城社区end------**/
//社区详情end-------------------------
//商城社区end----------------------------------------