@import "app/mixin";

.icon_back_white {
  background: url("../images/joinus/icon_back_white.png") no-repeat 0 50%;
  width: 11px;
  height: 19px;
}

.join-index-new {
  position: absolute;
  top: 0;
 width: 100%;
  height: 100%;
 background: #fff url("../images/joinus/bg.png") no-repeat;
  background-size: 100% auto;
  text-align: center;
  .jm-header.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .jm-header {
    background: #fff;
    height: 53px;
    padding-top: 13px;
    position: relative;

    .jm-wrapper {
      position: relative;
      z-index: 1;
      .title {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 15px;
        color: #000;
      }
      .posl, .posr, .poslike {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .posl {
        left: 12px;
      }
      .posr {
        right: 12px;
      }
      .poslike {
        right: 50px;
      }
      &::after {
        border-bottom: 1px solid #E6E6E6;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        transform: scaleY(.8);
        width: 100%;
        z-index: 10;
      }
      &.un-bottom-line::after {
        border-bottom: none;
      }
    }
  }
}

.join-job {
  position: relative;
  margin: 0 auto;
  margin-top: 68px;
  width: 320px;
  height: 122px;
  background: url("../images/joinus/join_job.png") no-repeat 7.5px;
  background-size: 100%;
  .job {
    position: absolute;
    left: 98px;
    width: 97px;
    top: 25px;
    color: #fff;
    font-size: 14px;
  }
}

.join-title {
  position: relative;
  margin: 0 auto;
  margin-top: 32px;
  width: 205px;
  height: 53px;
  background: url("../images/joinus/join_name.png") no-repeat;
  background-size: 100% auto;
  .title {
    padding-top: 5px;
    line-height: 16px;
    width: 100%;
    color: #fff;
    font-size: 14px;
  }
}

.join-product-item {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  height: 65px;
  .product-img {
    float: left;
    width: 65px;
    background-color: #fff;
    @include create-square-image(65px,65px, 0);
  }
  .recommend {
    float: left;
    max-width: 105px;
    padding-left: 23px;
    text-align: left;
    .title {
      width: 95px;
      color: #fff;
      font-size: 14px;
      line-height: 17px;
      @include  rows-ellipsis(3);
      max-height: 34px;
      overflow-y: hidden;
    }
    .desc {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      @include ellipsis;
    }
  }
}

.join-logo {
   margin-top: 2px;
  .logobox {
    display: inline-block;
    width: 56px;
    height: 56px;
    left: 50%;
    //margin-left: -28px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.join-slogan {
  position: relative;
  width: 300px;
  height: 43px;
  left: 50%;
  margin-left: -150px;
  background: url("../images/joinus/bg_top.png") no-repeat;
  background-size: 100% auto;
  .slogan {
    position: absolute;
    width: 100%;
    color: #AB8F68;
    font-size: 23px;
    bottom: 0;
    line-height: normal;
    font-weight: 500;
  }
}
.join-enter {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 5px;
  width: 322px;
  height: 125px;
  background: url("../images/joinus/btnenter.png") no-repeat;
  background-size: 100% auto;
  .join-enter-desc {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    top: 45px;
    height: 46px;
    line-height: 46px;
    color: #231815;
    font-size: 19px;
  }
}
.join-form {
  input[type=checkbox]{
   display: none;
  }
.join-protocol {
  padding-left: 18px;
  position: absolute;
  bottom: 0;
}
}

.join-switch  + label{
  //margin-left: 1rem;
  width: 322px;
  position: relative;
  font-size: 11px;
  line-height: 11px;
  color: #9FA0A0;
  &:before {
    content: '';
    width: 13px;
    height: 12px;
    position: relative;
    background-color: #fff;
    position: absolute;
    top: 1.5px;
    left: -15px;
    background: url("../images/joinus/icon_hook_square.png") no-repeat left center;
    background-size: 13px 12px;
  }
}
.join-switch:checked + label {
  &:after{
    content: '';
    color: #fff;
    width: 13px;
    height: 10px;
    position: absolute;
    top: 1.5px;
    left: -15px;
    background: url("../images/joinus/icon_hook.png") no-repeat left center;
    background-size: 13px 11px;
  }
}