//@import "../base/base.scss";
//@import "../base/navbar.scss";
//@import "brandsprites";
@import "./app/mixin";
//@import "app/app_common";

#qrcode_box {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 5rem;
  background-color: #fff;
  /* display: none; */
  .close_qrcode {
    text-align: right;
    padding: 0.2rem;
    img {
      height: .5rem;
      width: 0.5rem;
    }
  }
  .qrcode_img {
    margin: 0 auto;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}

//店铺 begin
.jm-store {
  .store {
    position: relative;
    height: 2.9rem;
    background: url("../images/store/store-bg.jpg") no-repeat center center;
    background-size: cover;
  }
  .box {
    position: absolute;
    left: .78rem;
    top: .8rem;
    height: 1.46rem;
    display: flex;
    .logobox {
      flex: 0 0 1.4rem;
    }
    @include create-circle-image(1.4rem, 0rem);
    .imgbox {
      img {
        background: url("../images/store/icon_store_bg.png") no-repeat center center;
        background-size: 100% 100%;
      }
    }
    .desc {
      flex: 1 0 3.48rem;
      height: 1.24rem;
      padding-left: .23rem;
      .name {
        width: 3.48rem;
        display: block;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: .28rem;
        color: #F4F4F2;
        @include ellipsis;
      }
      .wel {
        width: 3.48rem;
        display: block;
        font-size: .23rem;
        line-height: 0.28rem;
        height: 0.28rem;
        color: #A09E9F;
        @include ellipsis;
      }
    }
  }

  .friend {
    position: absolute;
    top: 1.4rem;
    right: 0;
    width: 1rem;
    height: .56rem;
    background: url("../images/store/icon_code.png") no-repeat center center;
    background-size: cover;
  }
  .friend_text {
    position: absolute;
    top: 1.4rem;
    right: 0;
    //width: 1.3rem;
    padding: 0 .2rem;
    height: .56rem;
    line-height: .56rem;
    color: #F4F4F2;
    background: #F23030;
    font-size: .12rem;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;

  }
}
//店铺 end
.jm-goodsign, .jm-goodrecom{
  .navbox{
    @include title-left-icon();
    .item {
      padding-left: .21rem;
    }
    .more{
      padding-right: .21rem;
    }
  }
}

//品牌推荐
.jm-goodsign {
 //@include goodsign;
   position: relative;
   background: #F4F4F4;
   .content {
     display: flex;
     justify-content: flex-start;
     align-content: flex-start;
     flex-wrap: wrap;
     .item {
       background: #fff;
       flex: 0 1 2.5rem;
       height: 1.88rem;
       //border-left: 1px solid #f4f4f4;
       position: relative;
       overflow: hidden;
       img {

         position: absolute;
         display: inline-block;
         width: 65%;
         margin: 0 auto;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }
       &::before {
         border-left: 1px solid #e1e1e1;
         content: "";
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         transform: scaleX(0.5);
         width: 1px;
         z-index: 10;
       }
       &::after {
         border-bottom: 1px solid #e1e1e1;
         bottom: 0;
         content: "";
         height: 1px;
         position: absolute;
         right: 0;
         transform: scaleY(.5);
         width: 100%;
         z-index: 10;
       }
       &:nth-child(3n+1) {
         border-left: none;
       }
     }
   }
}

//精品推荐
.jm-goodrecom {
  position: relative;
  background: #f4f4f4;
  color: #00aa00;
}

.jm-backtop {
  display: none;
  position: fixed;
  right: 9px;
  bottom: 1.2rem;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #fdfdfd url("../images/store/icon_backtop.png") no-repeat center center;
  background-size: cover;
  z-index: 1210;
  /*transform-origin: 0px 0px 0px;
  opacity: 1;
  transform: scale(.8);
  transform-origin: center center;*/
  &.none {
    display: block;
  }
}

#jm-goodsign .content {

}

//店铺详情begin
/*.jm-header {
  @include jm-header;
}*/

.store-detail {
  .top {
    position: relative;
    height: 1.66rem;
    background-color: #fff;
    margin-bottom: .24rem;

    .left {
      @include vertical-center;
      display: inline-block;
      padding-left: .5rem;
      width: 5rem;
      height: 1rem;
      line-height: 1rem;
      .imgbox {
        @include vertical-center;
        display: inline-block;
        height: .76rem;
        width: .76rem;
          img{
            width: 100%;
            height: 100%;
        }
      }
      .title {
        @include vertical-center;
        padding-left: 1rem;
        font-size: .28rem;
        color: #231815;
        width: 100%;
        line-height: 1.2;
        display: inline-block;
        @include rows-ellipsis(2);
      }
    }
    .right {
      @include vertical-center;
      margin-top: -.1rem;
      float: right;
      right: 0;
      width: 1.12rem;
      height: .78rem;
      .uptext {
        font-size: .24rem;
        position: relative;
        z-index: 1;
        height: .5rem;
        line-height: .5rem;

        padding-left: .46rem;
        background: url("../images/store/likie_iocn.png") no-repeat .11rem center;
        background-color: #c72443;
        background-size: .24rem .24rem;
        color: #fff;
        border-top-left-radius: .1rem;
        border-bottom-left-radius: .1rem;
      }
      .downtext {
        font-size: .18rem;
        position: relative;
        text-align: center;
        height: .5rem;
        line-height: .5rem;
        margin-top: -.1rem;
        padding-top: .05rem;
        background-color: #fee662;
        color: #231815;
        border-top-left-radius: .1rem;
        border-bottom-left-radius: .1rem;
        z-index: 0;
      }
    }
  }
  .mid {
    .item {
      background-color: #fff;
      @include link-item-icon(.84rem, 0px);
      .title{
        font-size: .26rem;
      }

    }
    .provider-item .arrow-icon {
      width: .40rem !important;;
      height: .38rem !important;;
      background-image: url("../images/common/icon-provider.png") !important;

    }

    .code-item .arrow-icon {
      width: .40rem !important;;
      height: .38rem !important;;
      background-image: url("../images/common/icon_code.png") !important;
    }
    .time-item .time, .provider-item .orderlink {
      color: #9FA0A0;
      padding-left: .6rem;
      font-size: .26rem;
    }
  }
  .bottom {
    //@include goodsign;
    background-color: #fff;
    color: #231815;
    .title {
      padding-left: .28rem;
      height: .83rem;
      line-height: .83rem;
      font-size: 0.26rem;
    }
    .content{
      overflow: hidden;
    }

    .item{
      width: 33.33%;
      float: left;
      height: 1.53rem;
      background-color: #fff;
      padding: .2rem;
      position: relative;
      margin-bottom: .24rem;
      overflow: hidden;
    }
    .box {
      display: table;
      width: 80%;
      height: 80%;
      .table-cell{
        display: table-cell;
        vertical-align: middle;
        img{
          width: 100%;
        }

      }
    }

  }
}

//店铺详情end

//店铺简介begin
.store-desc {
  .wrapper {
    text-align: center;
    position: relative;;
    padding: .6rem .8rem;
    background-color: #fff;
    font-size: .24rem;
    color: #595757;
    height: 12.10rem;
    p {
      text-align: left;
      line-height: .36rem;
      margin-bottom: .4rem;
      word-wrap: break-word;
    }

    .code {
      position: absolute;
      display: inline-block;
      top: 2.2rem;
      bottom: 1.35rem;
      left: 50%;
     transform: translateX(-50%);
      width: 4.35rem;
      height: 4.35rem;
      background: url("../images/brand/code-bg.png?v=18cfa") no-repeat center center;
      background-size: contain;

    }
  }

}

//店铺简介end


//新店铺首页begin
.store-index-new {
.jm-store{
  position: relative;
  width: 100%;

  height: 5.87rem;
  background: url("../images/store/store_index_new_bg.png?") no-repeat ;
  background-size: 100% auto;
  .store-name-box {
    position: absolute;
    top:.3rem;
    left: .24rem;
  }
  .store-logo {
    width: 5.6rem;
    @include create-circle-image(.65rem,0);
    .imgbox {
      float: left;
    }
  }
  .store-name {
    float: left;
    width: 4rem;
    color: #fff;
    font-size: .24rem;
    line-height: .65rem;
    padding-left: .17rem;
    @include ellipsis
  }

  .store-share {
    position: absolute;
    right: .24rem;
    top: .33rem;
    width: .59rem;
    height: .59rem;
    background: url("../images/store/store_index_share.png?") no-repeat ;
    background-size: 100% auto;
  }

  //中间
  .store-main {
    padding-top: 1rem;
    text-align: center;
    .store-main-name {
      text-align: center;
      padding-top: .36rem;
      display: block;
      width: 100%;
      font-size: .3rem;
      color: #fff;
      line-height: .6rem;
    }
    .desc {
      display: block;
      width: 100%;
      font-size: .24rem;
      color: #9FA0A0;
    }
  }
  .store-main-logo{
    display: inline-block;
    padding: .44rem .6rem;
    width: 2.94rem;
    height: 2.19rem;
    background: url("../images/store/store_index-_ew_logo_bg.png?") no-repeat ;
    background-size: 100% auto;

    @include create-circle-image(1.75rem,0);
  }

 }
  .store-recommend {
    position: relative;
    .info-list-title {
      background-color: #fff;
    }
    .title {
      color: #231815;
      font-size: .36rem;
    }
    .more-btn {
      position: absolute;
      right: .24rem;
      top: 50%;
      margin-top: -.22rem;
      background-color: #FEDE3B;
      width: 1.18rem;
      height: .44rem;
      line-height: .44rem;
      font-size: .22rem;
      color: #231815;
      text-align: center;
    }
  }
  .swiper-container{
    //background-color: #fff;
  }
    .goods-box {
      display: flex;
      flex-direction: row;
      width: 7.5rem;
      height: 3.90rem;
      //margin: 0.26rem .28rem .28rem .28rem;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: nowrap;
background-color: #fff;
      .goods-item {
        flex-basis: 33.3%;
        height: 3.90rem;
        background-color: #fff;
        margin-bottom: .2rem;
        position: relative;
        border: 1px solid #D9D9D9;
        border-right: none;

        &:last-child{
          border-right: 1px solid #D9D9D9;
        }
        .hot{
          position: absolute;
          text-align: center;
          left: .14rem;
          top: .07rem;
          background-color: #c72443;
          font-size: 12px;
          color: #fff;
          padding: 1px 2px;
        }
        .imgbox {
          padding:.15rem;
        }
        .imgbox img{
          width: 100%;
        }
        .infobox{
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: .1rem .1rem;
          .brand-name{
            display: block;
            font-size: .24rem;
            height: .5rem;
            line-height: .5rem;
            color: #333;
            @include ellipsis;
          }
          .price{
            color: #e50000;
            font-size: .28rem;
            height: .6rem;
            line-height: .6rem;
          }

          .oldprice{
            color: #949494;
            font-size: .22rem;
            text-decoration: line-through;
            padding-left: .2rem;
          }
        }
      }
    }

  .ad{
    background-color: #fff;
    font-size: 0;

    text-align: center;
    img{
      display: inline-block;
      width: 100%;
    }
  }
  .ad-padd-bottom{
padding-bottom: .2rem;
  }
  .ad-join-padd{
    padding: .3rem .24rem .3rem .24rem;
  }
  .store-brand-list {
    padding:0 .08rem .3rem .08rem;
    background-color: #fff;
    font-size: 0;
    overflow: hidden;
    .item-box {
      float: left;
      width: 33.32%;
    }
    .item {
      border: 1px solid #D9D9D9;
      height: 1.66rem;
      margin: .08rem;
      overflow: hidden;
      padding:0.2rem 0.2rem 0 .2rem;
      @include create-square-image(1.83rem , 0.92rem,0rem);
      .title {
        width: 100%;
        text-align: center;
        color: #231815;
        line-height: .4rem;
        font-size: .22rem;
        @include ellipsis;
      }

    }
    .on .title {
      color: #F23030;
    }
  }
}
//新店铺首页end





