@import "variable";
//左右两列  ，内容左右上下居中，父类需要font-size:0,position
//html结构<div class="bottombox">
//<div class="left">
//<a class="item" href="#">
//<i class="num">58</i>
//<span class="text">我的推客</span>
//</a>
//</div>
//<div class="right">
//<a class="item" href="#">
//<i class="num">16</i>
//<span class="text">我的品牌</span>
//</a>
//</div>
//</div>
@mixin col-2-center-text-img($height:2rem,$num-font-size:.29rem,$text-font-size:.29rem) {
  font-size: 0;
  //父类属性设置
  & {
    font-size: 0; //将孩子inline-block, 有间距
    //border-bottom: 1px solid #dbdbdb;
  }
  &:last-child{
    border-bottom:none;
  }
  .left, .right {
    //border: 1px solid red;
    display: inline-block;
    width: 49.9%;// android 老版本会换行50%，原因不详
    height: $height;
    text-align: center;
    position: relative;
    .item {
      display: inline-block;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    //图片的
    .icon {
      width: .72rem;
      height: .72rem;
      display: inline-block;
    }
    .icon1 {
      background: url("../images/app/twitter/twitter_icon.png") no-repeat center center;
      background-size: .72rem .72rem;
    }
    .icon2 {
      background: url("../images/app/twitter/code_icon.png") no-repeat center center;
      background-size: .6rem .6rem;
    }
    //红色数字文本的
    .num {
      color: #f23030;
      font-style: normal;
      font-size: $num-font-size;
    }
    .text {
      color: #595757;
      display: block;
      font-size: $text-font-size;
      font-weight: lighter;
    }
  }
}


//上(图片)下（文本）水平 垂直居中
//参数
//$out-height   外总高度
//$in-height     内容总高度
//$num-font-size $text-font-size 上字体大小
//$itemWidth   占比宽度

//<a class="item-link" href="#">
//<span class="link-box">
//<img class="i" src="">
//<span class="text">我的品牌</span>
//</span>
//</a>
@mixin col-center-img-new($out-height:2rem, $in-height:1rem,$itemWidth:50%, $text-font-size:.24rem, $img-height:.82rem,$text-font-height:.56rem ) {
  background-color: #fff;
  overflow: hidden;
  .item-link{
    float: left;
    width: $itemWidth;
    text-align: center;
    height: $out-height;
    position: relative;
  }
  .link-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: $in-height;
    span {
      overflow: hidden;
      display: flex;
      -webkit-line-clamp: 1;
      justify-content: center;
      line-clamp: 1;
    }
    img {
      height: $img-height;
      width: $img-height;
    }
    span.text{
      height: $text-font-height;
      line-height: $text-font-height;
      color: #231815;
      font-size: .26rem;
    }
  }
}

//上下两行（文本）水平 垂直居中
//参数
//$out-height   外总高度
//$in-height     内容总高度
//$num-font-size $text-font-size 上字体大小
//$itemWidth   占比宽度

//<a class="item-link" href="#">
//<span class="link-box">
//<span class="num">58</span>
//<span class="text">我的客户</span>
//</span>
//</a>
@mixin col-center-text-new($out-height:2rem, $in-height:1rem,$itemWidth:50%, $num-font-size:.29rem,$text-font-size:.26rem, $num-font-height:.56rem,$text-font-height:.56rem ) {
  background-color: #fff;
  overflow: hidden;
  .item-link{
    float: left;
    width: $itemWidth;
    text-align: center;
    height: $out-height;
    position: relative;
  }
  .link-box {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: $in-height;
    span {
      overflow: hidden;
      display: flex;
      -webkit-line-clamp: 1;
      justify-content: center;
      line-clamp: 1;
    }
    span.num {
      height: $num-font-height;
      line-height: $num-font-height;
      color: #F23030;
      font-size: $num-font-size;
    }
    span.text{
      height: $text-font-height;
      line-height: $text-font-height;
      color: #231815;
      font-size: $text-font-size;
    }
  }
}


//标题，左边有图标(我的团队 新推客)
//html 结构 <div class="topbox">
//<div class="item ">
//<span class="icon"></span>
//<span class="title">我的团队</span>
//</div>
//</div>
@mixin title-left-icon {

  display: flex;
  align-items: center;
  height: 1rem;
  justify-content: space-between;
  .item {
    position: relative;
    padding-left: .31rem;
    .icon {
      display: inline-block;
      width: .37rem;
      height: .37rem;
      background: url("../images/app/sign.png") no-repeat center center;
      background-size: cover;
      vertical-align: middle;
    }
    .title {
      font-size: $font-size2;
      display: inline-block;
      line-height: .4rem;
      height: .4rem;
      color: $font-color2;
      vertical-align: middle;
      padding-left: .17rem;
    }
  }
}

//标题两边有图标
//<div class="brand-type">
//<p class="title">我的代理品牌</p>
//</div>
@mixin title-text-both-icon($height:.9rem) {
  position: relative;
  height: $height;
  line-height: $height;
  text-align: center;
  font-size: .3rem;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
  .title {
    display: inline-block;
    position: relative;
    color: #231815;
    font-size: .32rem;
    padding: 0 .1rem;

    &::before {
      content: "";
      display: block;
      width: .31rem;
      height: .31rem;
      position: absolute;
      left: 0;
      top: 50%;
      background: url("../images/app/sign.png") no-repeat center center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-100%, -50%);
    }
    &::after {
      content: "";
      display: block;
      width: .31rem;
      height: .31rem;
      position: absolute;
      top: 50%;
      background: url("../images/app/sign.png") no-repeat center center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(100%, -50%);
      right: 0;
    }
  }
}

//--文本标题（左右）

// border-bottom: 1px solid #dbdbdb;
/*$title_left_text_color: #595757;
$title_right_text_color: #9FA0A0;*/

//html结构 <div class="timebox">
//<span class="left">加入时间：</span>
//<span class="right">2017-12-12</span>
//</div>
@mixin title-text-both($height:1rem) {
  padding: 0 .24rem;
  height: $height;
  line-height: $height;
  position: relative;
  overflow: hidden;
  .left {
    float: left;
    color: $font-color3;
    font-size: .28rem;
  }
  .right {
    float: right;
    color: $font-color5;
    font-size: .24rem;
  }
}
//与点击连接类似，无点击连接， 单项item
//<div class="item">
//<span class="left">代理名称:</span>
//<span class="right">XXXX</span>
//</div>
@mixin title-unlink-text-both($height:1rem,$font-size-l:.28rem,$font-size-r:.28rem) {
  padding: 0 .24rem;
  height: $height;
  line-height: $height;
  position: relative;
  .left {
    float: left;
    color: $font-color3;
    font-size: $font-size-l;
  }
  .right {
    float: right;
    color: $font-color5;
    font-size: $font-size-r;
  }
}

//--超链接点击，最右箭头图标
//html结构 <div class="orderitem">
//<a class="link-text" href="#"> <span class="title"><i class="community_icon icon_community_code"></i>我的订单</span>
//<span class="orderlink">查看所有订单<i class="arrow-icon"></i></span></a>
//</div>
@mixin link-item-icon-sprite($height:1rem,$border-width:0rem) {
  padding: 0 .28rem;
  height: $height;
  line-height: $height;
  .link-text, a {
    display: block;
    color: #231815;
    width: 100%;
    font-size: .25rem;
    &::after{
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
  }
  .title {
    float: left;
    color: #231815;
    font-size: 0;
    .text {
      font-size: .25rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .common_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: .17rem;
  }

  .orderlink {
    float: right;
    vertical-align: middle;
    color: #9FA0A0;
    font-size: .25rem;
    //箭头
    .common_icon{
      margin-left: 0.18rem;
      margin-right: 0;
    }
  }
}

//--超链接点击，最右箭头图标
//html结构 <div class="orderitem">
//<a href="#"> <span class="title">我的订单</span>
//<span class="orderlink">查看所有订单<i class="arrow-icon"></i></span></a>
//</div>
@mixin link-item-icon($height:1rem,$border-width:0rem) {
  padding: 0 .28rem;
  height: $height;
  line-height: $height;
  .title {
    float: left;
    color: #231815;
    font-size: .28rem;
  }
  a {
    display: block;
    color: #231815;
    width: 100%;
    &::after{
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
  }
  .orderlink {
    float: right;
    vertical-align: middle;
    color: #9FA0A0;
    font-size: .29rem;
    .arrow-icon {
      padding-left: .4rem;
      display: inline-block;
      width: .18rem;
      height: .24rem;
      background: url("../images/app/user/right_arrow.png") no-repeat right center;
      background-size: contain;
      vertical-align: middle;
    }
  }
}

//行分为3列， 各列宽度传入
//<div class="itembox">
//<div class="item-left">
//</div>
//<div class="item-middle">
//</div>
//<div class="item-right">
//</div>
//</div>
//$left-width $mid-width $right-width 分别左 中 右宽度
//$align-self 单项垂直居中显示
//(代理详情 我的品牌)
@mixin layout-col-3($left-width:1.9rem, $mid-width:4.1rem, $right-width: 1.4rem,$align-self:center) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  .item-left {
    //flex-basis: $left-width;
    flex: 0 1 $left-width;
    align-self: $align-self;
    //border: 1px solid orange;
  }
  .item-middle {
    //flex-basis: $mid-width;
    flex: 1 1 $mid-width;
    //border: 1px solid green;
    align-self: $align-self;
  }
  .item-right {
   // flex-basis: $right-width;
    flex: 0 1 $right-width;
    //border: 1px solid #F23030;
    align-self: $align-self;
  }
}

//div中显示圆形图片
//<div class="imgbox">
//<img src="../../assets/images/app/team/logo.png" alt=""/>
//</div>
//$outbox-width 最外层的div的宽度  $inbox-width 内层的div的宽度
@mixin create-circle-image($radius-width:1.18rem,  $padding-width:0rem) {
  .imgbox {
    position: relative;
    display: inline-block;
    width: $radius-width;
    height: $radius-width;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-width;
    overflow-x: hidden;
    overflow-y: hidden;
    img {
      display: inline-block;
     // width: 100%;
      //min-width: 100%;
      //height: 100%;
      width: $radius-width - $padding-width;
      height: $radius-width - $padding-width;
      border-radius: 50%;
    }
  }
}
//div中显示方形图片 居中
//<div class="imgbox">
//<img src="../../assets/images/app/team/logo.png" alt=""/>
//</div>
//$outbox-width 最外层的div的宽度  $inbox-width 内层的div的宽度
@mixin create-square-image($width:1.18rem, $height:1.1rem,  $padding-width:0rem) {
  .imgbox {
    position: relative;
    //display: inline-block;
    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-width;
    overflow-x: hidden;
    overflow-y: hidden;
    img {
      display: inline-block;
      max-width: 100%;
    }

  }
}


//我的推客列表
//<div class="itembox">
//<div class="item-left">
//<div class="imgbox">
//<img src="../../assets/images/app/team/avatar.png" alt=""/></div>
//</div>
//<div class="item-middle">
//<p class="">ID:<span>74(1633***112)</span></p>
//<p class="">属下客户数量:<span>1</span></p>
//<p class="">订单数量:<span class="red">15</span></p>
//<p class="">订单总额:<span class="red">￥75000</span></p>
//</div>
//<div class="item-right">
//<a href="#"><span class="state">查看</span></a>
//</div>
//</div>
@mixin twitter-list-item {
  padding: .3rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  .item-left {
    //border: 1px solid green;
    flex: 0 1 1.9rem;

    padding: 0 .36rem;

    @include create-circle-image(1.18rem, 0rem);
  }
  .item-middle {
    //border: 1px solid yellow;

    flex: 1 1 5.1rem;
    color: #231815;
    font-size: .26rem;
    p{
      color: #231815;
    }
    span {
      padding-left: .25rem;
    }
    span.red {
      color: $font-color7; //#f23030;
    }
  }
  .item-right {
    //border: 1px solid red;
    position: relative;
    align-self: flex-start;
    flex: 0 1 1.4rem;
    padding-right: .24rem;
    .state {
      @include yellow-bg-button;
    }
  }
}

//我的联盟(老版本 已废弃)
//<div class="itembox">
//<div class="item-left">
//<div class="imgbox">
//<img src="../../assets/images/app/alliance/logo.png" alt=""/></div>
//</div>
//<div class="item-middle">
//<p class="title">美国科颜式</p>
//<p class="">合伙人佣金比:<span>0</span></p>
//<p class="">推客佣金比:<span>1</span></p>
//<p class="">已派送:<span>15</span></p>
//<p class="">代理数量:<span>10</span></p>
//<p class="">推客数量:<span>15</span></p>
//<a class="detailbtn" href="#">详情</a>
//</div>
//<div class="item-right">
//<a href="#"><span class="state">申请成为代理></span></a>
//</div>
//</div>
@mixin alliance-list-item {
  padding: .3rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  //align-items: flex-start;
  align-content: flex-start;
  .item-left {
    flex-basis: 2rem;
    //border: 1px solid red;
    padding: 0 .45rem 0 .24rem;
    @include create-square-image(1.18rem, 1.18rem, 0rem);//图片
    .imgbox{
      border: 1px solid $border-color;// 添加边框  4边有1px问题 待解决
    }
  }
  .item-middle {
    padding-top: 0rem;
    flex-basis: 3.3rem;
    width: 0;
    p{
      font-size: .24rem;
      color: #9FA0A0;
    }
    p.title {
      color: $font-color2;//#231815;
      font-size: .26rem;
      padding-bottom: .1rem;
      @include ellipsis;
    }
    span {
      padding-left: .24rem;
    }
    span.red {
      color: #f23030;
    }
    .detailbtn {
      display: inline-block;
      padding: 0.02rem 0.2rem;
      border: 1px solid #f23030;
      border-radius: 5px;
      text-align: center;
      color: #f23030;
      margin-top: .15rem;
      font-size: .24rem;
    }
  }
  .item-right {
    align-self: flex-start;
    flex-basis: 2.4rem;
    text-align: right;
    padding-right: .24rem;
    .state {
      @include yellow-bg-button;
    }
    .state.long{
      @include yellow-bg-button-long;
    }
  }
}

//我的品牌 品牌列表 代理详情 公用
//<div class="itembox">
//<div class="item-left">
//<div class="imgbox">
//<img src="../../assets/images/app/team/logo.png" alt=""/>
//</div>
//</div>
//<div class="item-middle">
//<p class="title">雅诗兰黛</p>
//<p class="desc"><span>雅诗雅诗兰黛雅诗兰黛雅诗兰黛雅诗兰黛雅诗兰黛雅诗雅诗兰黛雅诗兰黛雅诗</span></p>
//</div>
//<div class="item-right">
//<a class="btn_yellow" href="#">商品</a>
//<a class="btn_peach" href="#">合伙人</a>
//</div>
//</div>
@mixin brand-list-item {
  @include layout-col-3(1.9rem, 3.1rem, 1.4rem, center);
  padding: .3rem 0;
  .item-left {
    padding: 0 .45rem 0 .24rem;
    @include create-circle-image(1.18rem, .12rem);
    .imgbox {
      background-color: #ddd;
    }
  }
  .item-middle {

    width: 0;//否则不出现省略号
    .title {
      color: #231815;
      font-size: .28rem;
      @include ellipsis;
    }
    .desc {
      padding-right: .44rem;
      line-height: 1.2;
      font-size: .16rem;
      color: #595757;
      @include  rows-ellipsis;//3行
    }
    span {
      color: #595757;
      font-size: .16rem;
    }
  }
  .item-right {
    padding-right: .24rem;
    .item {
      width: 1rem;
      text-align: center;
      font-size: 0;
    }
    .icon {
      display: inline-block;
      width: .44rem;
      height: .44rem;
      background: url("../images/app/team/attention.png") no-repeat center center;
      background-size: contain;
    }
    .text {
      display: block;
      text-align: center;
      font-size: .3rem;
      color: #595757;
    }

    .btn_yellow, .btn_peach {
      //float: right;

     // width: auto;
      //height: auto;

    }
    .btn_peach {
      margin-top: .2rem;
      @include peach-bg-button;
      display: block;
    }
    .btn_yellow {

      //margin-bottom: .rem;
      @include yellow-bg-button;
      display: block;
    }
  }
}

//标题  返回 编辑 喜欢icon
/*@mixin jm-header {
  background: #fff;
  height: 1.26rem;
  //border-bottom: 1px solid #e7e7e7;
  padding-top: .26rem;
  position: relative;
  background: #efefef url("./images/common/header-bg.png") repeat-x 0 0;
  background-size: 100% 44px;
  .jm-wrapper {
    position: relative;
    .title {
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: .38rem;
      color: #000;
    }
    .posl, .posr, .poslike {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .posl {
      left: .24rem;
    }
    .posr {
      right: .24rem;
    }
    .poslike {
      right: 1rem;
    }
  }
}*/

//垂直居中
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//水平居中
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//省略号
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin rows-ellipsis($row:3){
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  overflow: hidden;
  text-overflow: ellipsis;

}

//
//推荐品牌 店铺详细用
@mixin goodsign {
  position: relative;
  background: #f4f4f4;
  font-size: .36rem;
  color: #00aa00;
  .content {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .item {
      background: #fff;
      flex: 0 1 33.333%;
      height: 1.85rem;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: .2rem 0;
      overflow: hidden;
      img {
        display: inline-block;
        max-width: 100%;
      }
      &:nth-child(3n)::after {
        border-right: none;
      }
      //右边框
      &::after {
        border-right: 1px solid #e1e1e1;
        content: "";
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0;
        transform: scaleX(0.5);
        width: 1px;
        z-index: 10;
      }
      //下边框
      &::before{
        border-bottom: 1px solid #e1e1e1;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        transform: scaleY(.5);
        width: 100%;
        z-index: 10;
      }
    }
  }
}

//黄色背景按钮
@mixin yellow-bg-button() {
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  background: #fff url("../images/common/btn_yellow.png") no-repeat 0 0;
  background-size: 100%;
  font-size: 0.24rem;
  color: #231815;
  width: 1.19rem;//原图大小
  height: .42rem;
  line-height: .42rem;
}
//黄色背景按钮-长
@mixin yellow-bg-button-long() {
  line-height: 1;
  white-space: nowrap;
  padding: .1rem .3rem;
  display: inline-block;
  background: #fff url("../images/common/btn_yellow-long.png") no-repeat center center;
  background-size: contain;
  font-size: $font-size4;
  background-Origin: border-box;
}
@mixin peach-bg-button() {
  //line-height: 1.1;




  white-space: nowrap;
  text-align: center;
  display: inline-block;
  background: #fff url("../images/common/btn_peach.png") no-repeat 0 0;
  background-size: 100%;
  font-size: 0.24rem;
  color: #231815;
  width: 1.19rem;//原图大小
  height: .42rem;
  line-height: .42rem;
}

@mixin borderRadius($radius:.2rem) {
  border-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin vertical-align($type:middle){
  vertical-align: $type;
}







