@import "variable";

//红色头部标题，无返回和编辑图标（我的联盟 我的团队 新推客 店铺等）
.jm-header-navbar {
  height: 1rem;
  background: #f23030;
  font-size: $font-size1; //.36rem;
  padding-top: .2rem;
  color: #fff;
  .jm-wrapper {
    position: relative;
    height: .8rem;
    line-height: .8rem;
    .title {
      height: .8rem;
      line-height: .8rem;
      text-align: center;
      font-size: $font-size1; //.36rem;
      color: #fff;
    }
    .jm-back {
      display: none;
      position: absolute;
      left: .16rem;
      top: .17rem;
      width: .3rem;
      height: .35rem;
      background: url("../images/store/icon_arrow.png") no-repeat center center;
      background-size: cover;
    }
  }
}

//头部导航固定在上部
.jm-header.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;//原来100
}

//头部导航固定间隙占位符
.header-fixed + .hold-space-top {
  height: 1.26rem;
}

.header-fixed ~ .page-content .hold-space-top {
  height: 1.26rem;
}
//商城头部导航固定间隙占位符
.jm-shop-header.jm-shop-header + .hold-space-top {
  height: 1rem;
}

.header-fixed.jm-shop-header ~ .page-content .hold-space-top {
  height: 1rem;
}


//邀请添加背景
//返回头部 begin
.jm-header {
  background: #fff;
  height: 1.26rem;
  padding-top: .26rem;
  position: relative;
  width: 7.5rem;
  max-width: 1080px;

  .jm-wrapper {
    position: relative;
    z-index: 1;
    .title {
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: .31rem;
      color: #000;
    }
    .posl, .posr, .poslike {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .posl {
      left: .24rem;
    }
    .posr {
      right: .24rem;
    }
    .poslike {
      right: 1rem;
    }
    &::after {
      border-bottom: 1px solid #E6E6E6;
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      transform: scaleY(.8);
      width: 100%;
      z-index: 10;
    }
    &.un-bottom-line::after {
      border-bottom: none;
    }
    a [class^="icon-"], a [class*=" icon-"] {
      display: inline-block;
    }
  }
}
//新头部结构
.jm-shop-header {
  background: #fff;
  height: 1rem;
  padding-top: 0;
  position: relative;
  width: 7.5rem;
  max-width: 1080px;

  .jm-wrapper {
    position: relative;
    z-index: 1;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .title{
      display: none;
    }
    .mid-title .title {
      display: block;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: .31rem;
      color: #000;
    }

    &::after {
      border-bottom: 1px solid #E6E6E6;
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      transform: scaleY(.8);
      width: 100%;
      z-index: 10;
    }
    &.un-bottom-line::after {
      border-bottom: none;
    }
    .header-left-box {
      height: 100%;
      flex: 0 1 .9rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-center-box {
      flex: 1 1 auto;
    }
    .header-right-box {
      height: 100%;
      flex: 0 1 .9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-r.show{
        display: block;
      }
      .text-r.show{
        display: block;
      }
    }
    .search-box{
      display: none;
    }
    .mid-search{
      .search-box {
        display: block;
        position: relative;
        background: #F0F0F2;
        width: 100%;
        height: .6rem;
        border-radius: .1rem;
        overflow: hidden;
        line-height: normal;
        .search-form {
          width: 100%;
          height: 100%;
          border-radius: 2.1rem;
          .inner-box {
            height: 100%;
          }
          .search-form-item {
            border: none;
            width: 100%;
            height: 100%;
            font-size: .22rem;
            background: #F0F0F2;
            color: #595757;
            padding-left: .6rem;
            padding-right: .4rem;
          }
        }
        .search-sub-btn {
          position: absolute;
          left: 0;
          top:52%;
          height: 100%;
          width: .6rem;
          text-align: center;
          background: transparent;
          border: none;
          transform: translateY(-50%);
        }
      }
    }
    .icon_header_shop_search_cancel{
      display: none;
    }
    .mid-search_cancel .icon_header_shop_search_cancel{
      display: none;
      position: absolute;
      right: .15rem;
      top:52%;
      height: 100%;
      text-align: center;
      border: none;
      transform: translateY(-50%);
      background-position: center center;
    }
  }
  &.jm-header-column-two-right{
    .jm-wrapper{
      padding-left: .2rem;
      padding-right: .2rem;
    }
    //两列 左侧隐藏
    .header-left-box {
      display: none !important;
    }
    .header-right-box{
      flex: 0 1 .9rem;
      .icon-r{
        display: none;
      }
      .text-r.show{
        display: inline-block;
      }
    }
  }
  //头部导航固定在上部
  &.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;//原来100
  }
}
//头部背景透明，移除底部垂直空间
.transparent-bg.header-fixed + .hold-space-top, .hold-space-top {
  height: 0;
}
//头部100%背景透明
.transparent100{
  background:transparent !important;
  opacity:1 !important;
}
//背景透明  添加透明图  去除底线
.transparent-bg {
  &.header-fixed {
    background:rgb(255,255,255);//白色透明度
    opacity:.3;
    min-height: 1.26rem;;
  }
  .jm-wrapper {
    &::after {
      border-bottom-width: 0px;
    }
    &.bottom-line::after {
      border-bottom-width: 1px;
    }
  }
  &.bottom-line .jm-wrapper {
    &::after {
      border-bottom-width: 1px;
    }
  }
}
.nav-none .icon_header-nav-short{
  display: none;
}
//弹出层导航栏
.header-nav-bar{
  display: none;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  top: 1.2rem;
  right: .1rem;
  width: 120px;
  height: auto;
  z-index: 101;
  border-radius: 8px;
  padding: 0px 12px;
  .triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 0px 7px 12px 7px;
    border-style: solid solid solid solid;
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: -12px;
    right: 12px;
  }
  .navltem {
    height: 40px;
    line-height: 40px;
    color: #c9caca;
    font-size: 12px;
    position: relative;
    padding-left: 40px;
    vertical-align: middle;
    .navicon {
      display: inline-block;
      width: 30px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }
  }

}

.icon_header_nav_home {
  background: url("../images/common/icon_header_nav_home.png") no-repeat center center;
  background-size: 16px auto;
}

//底部导航
.app-page-footer {
  height: 1rem;
  display: block;
  overflow: hidden;
  position: relative;
  .footer_inner {
    max-width: 1080px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    height: 1rem;
    position: fixed;
    z-index: 9990;
    //border-top: 1px solid #e3e3e3;
    a {
      display: block;
      float: left;
      font-size: 0.24rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      width: 25%;
      .icon {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        position: absolute;
        top: 0.1rem;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .line {
        display: block;
        position: relative;
        height: 0.6rem;
      }
      .text {
        display: block;
        height: 0.4rem;
        line-height: 0.4rem;
        color: #595757;
      }
      &.on .text {
        color: #ff6b00;
      }
      .icon-invite {
        background: url("../images/app/icon/icon_invite_normal.png") no-repeat center center;
        background-size: .46rem .45rem;
      }
      &.on .icon-invite {
        background: url("../images/app/icon/icon_invite_Pressed.png") no-repeat center center;
        background-size: .46rem .45rem;
      }
      .icon-team {
        background: url("../images/app/icon/icon_team_normal.png") no-repeat center center;
        background-size: .44rem .45rem;
      }
      &.on .icon-team {
        background: url("../images/app/icon/icon_team_Pressed.png") no-repeat center center;
        background-size: .44rem .45rem;
      }

      .icon-alliance {
        background: url("../images/app/icon/icon_ alliance_normal.png") no-repeat center center;
        background-size: .58rem .45rem;
      }
      &.on .icon-alliance {
        background: url("../images/app/icon/icon_alliance_Pressed.png") no-repeat center center;
        background-size: .58rem .45rem;
      }
      .icon-my {
        background: url("../images/app/icon/icon_my_normal.png") no-repeat center center;
        background-size: .21rem .45rem;
      }
      &.on .icon-my {
        background: url("../images/app/icon/icon_my_Pressed.png") no-repeat center center;
        background-size: .21rem .45rem;
      }
    }
  }
}

//邀请推客 新的推客 列表公用
//<ul class="listbox">
//<li class="itembox">
//<div class="item user">
//<span class="left">用户：</span>
//<span class="right">12345678911</span>
//</div>
//<div class="item ">
//<span class="left">招募时间：</span>
//<span class="right time">2017-12-12</span>
//</div>
//<div class="item">
//<span class="left">招募状态：</span>
//<span class="right state">已完成</span>
//</div>
//<div class="done">
//<a href="#" class="btn">撤 销</a>
//</div>
//</li>
//</ul>
.listbox {
  color: #595757;
  .itembox {
    background-color: #fff;
    padding: 0.2rem .3rem 0.2rem .4rem;
    margin: 0 0 .28rem 0;
    .item {
      position: relative;
      line-height: .6rem;
      height: .6rem;
      overflow: hidden;
      .left {
        float: left;
        color: $font-color2; //231815
        font-size: .24rem;
      }
      .right {
        float: right;
        right: 0;
        @include vertical-center;//垂直居中
      }
      .time {
        color: $font-color5; //#9FA0A0;
        font-size: .24rem;
      }
      .phone {
        font-size: .26rem;
        color: $font-color2; //231815
      }
      .state {
        @include yellow-bg-button;
      }
    }
    .done {
      text-align: center;
      .btn {
        display: inline-block;
        width: 2.6rem;
        height: .54rem;
        line-height: .54rem;
        background-color: #F23030;
        border-radius: 7px;
        color: #fff;
        font-size: .26rem;
        text-align: center;
        text-shadow: none;
      }
    }
  }
}
//店铺，新商城首页底部
.new-store-page-footer .footer_inner .footer_item{
  flex: 1 1 25%;
}

.new-store-page-footer{
  display: block;
  position: relative;
  height: 1rem;
  width: 7.5rem;
  max-width: 1080px;

  .footer_inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 7.5rem;
    max-width: 1080px;
    z-index: 100;
    background-color: #fff;
    color: #000;
    border-top: 1px solid #E3E3E3;
    font-size: 0;
    text-align: center;
    .footer_item {
      display: inline-block;
      flex: 1 1 25%;
      height: 1rem;
      position: relative;
      .link {
        position: relative;
        display: inline-block;
        height: 100%;
        text-align: center;
        font-size: 0;
        line-height: normal;
        color: #000000;
      }
      i[class*='*_common_icon']{
        position: relative;
        display: inline-block;
      }
      .icon-box{
        display: inline-block;
        width: 100%;
        height: (1-.4)+rem;
        line-height: (1-.4)+rem;
        position: relative;
        i{
          position: absolute;
          top:28%;
          left: 50%;
          transform: translate(-50%);
        }
      }
      .text {
        display: inline-block;
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        font-size: .25rem;
        position: relative;
      }
      .link.on .text {
        color: #F23030;
      }
    }
  }
}
//购物车数字
.m-buybar .cart .count {
  position: absolute;
  min-width: 16px;
  height: 16px;
  left: 27px;
  top: 2px;
  background-color: #fff;
  color: #e31436;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 0 4px;
  border: 1px solid #e31436;
}
//新底部begin
.new-app-page-footer {
  display: block;
  position: relative;
  height: 1rem;
  width: 7.5rem;
  max-width: 1080px;

  .footer_inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 7.5rem;
    max-width: 1080px;
    z-index: 100;
    background-color: #fff;
    color: #000;
    border-top: 1px solid #E3E3E3;
    font-size: 0;
    .footer_item {
      //display: inline-block;
      flex: 1 1 33.3%;
      height: 1rem;
      position: relative;
      a {
        position: relative;
        display: inline-block;
        height: 100%;
        text-align: center;
        font-size: 0;
        line-height: normal;
        color: #000000;
      }
      i[class*='common_icon']{
        position: relative;
        display: inline-block;
       // padding-left: 1rem;
      }

      .text {
        display: inline-block;
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        font-size: .25rem;
        position: relative;
      }
      a.on .text {
        color: #F23030;
      }
    }
    .footer_item.home i[class*='common_icon'], .footer_item.my i[class*='common_icon']{
      margin-top: (1-0.4-0.47)+rem;//0.47 图标高度
    }
    .footer_item.home a {
      float: right;
      min-width: .6rem;
    }
    .footer_item.bbs a {
      text-align: center;
      width: 100%;
      position: relative;
    }
    .footer_item.bbs a i[class*='common_icon'] {
      //padding-top: 1rem;
      //padding-left: 100%;
      top: -0.4rem;
      position: absolute;
      display: inline;
      left: 50%;
      transform: translateX(-50%);
    }
    .footer_item.bbs a .text {
      padding-top: .6rem;
    }
    .footer_item.my a {
      float: left;
      min-width: .8rem;
    }
  }
}
//新底部end

//新版列表标题begin
.info-list-title {
  position: relative;
  height: 1.4rem;
  background-color: #F4F4F4;
  text-align: center;
  .title-box{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0;
    white-space: nowrap;
    @include center;
  }
  .title{
    font-size: .3rem;
    vertical-align: middle;
    padding: 0 .26rem;
  }
  .common_icon_fix {
    display: inline-block;
    vertical-align: middle;
  }
  .scalex{
    transform: scaleX(-1)
  }
}
//新版列表标题begin


//品牌商品，商品分类 ，详情商城搜索结果，有热销，分享 商品框白底 4.74rem 高begin ,
.brandgoods {
  background: #f4f4f4;
  color: #231816;
  .goods-box {
    display: flex;
    flex-direction: row;
    width: 6.96rem;
    margin: 0.26rem .28rem .28rem .28rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .goods-item {
      flex:0 1 3.37rem;
      width: 50%;//低版本android兼容
      height: 4.74rem;
      background-color: #fff;
      margin-bottom: .2rem;
      position: relative;
      &:nth-child(2n) {
        margin-left: .2rem;
      }
      .hot{
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        background-color: #c72443;
        font-size: 12px;
        color: #fff;
        padding: 1px 2px;
      }
      .imginfo {
        position: relative;
        overflow: hidden;
        padding-top: 100%;

      }
      .imgbox{
        position: absolute;
        width:100%;
        left: 0;
        top:0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: .2rem;
        img{
          display: inline-block;
          max-width: 100%;
        }
      }
      .infobox{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: .1rem .1rem;
        .brand-name{
          display: block;
          font-size: .24rem;
          height: .5rem;
          line-height: .5rem;
          color: #333;
          @include ellipsis;
        }
        .price{
          color: #e50000;
          font-size: .28rem;
          height: .6rem;
          line-height: .6rem;
        }

        .oldprice{
          color: #949494;
          font-size: .22rem;
          text-decoration: line-through;
          padding-left: .2rem;
        }
      }
      //分享按钮begin
      .brahd-share-box{
        position: absolute;
        right: 0.24rem;
        bottom: 0.25rem;
        z-index: 0;
        width: .83rem;
        height: .29rem;
        background: url("../images/brand/icon_brand_share_bg.png") no-repeat;
        background-size: .83rem  .29rem;
      }
    }
  }
}
//品牌商品，商城搜索结果，有热销，分享 商品框白底 4.74rem 高end


/**热门品牌滑动--**/
.index-brand-box {
  display: flex;
  flex-direction: row;
  width: 7.5rem;
  height: 3.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  background-color: #fff;
  padding-bottom: .23rem;
  .brand-item {
    //flex:0 1 33.33%;
    width: 40.3%;
    height: 3.45rem;
    background-color: #fff;
    margin-bottom: .2rem;
    &:first-child{
      margin-left: .12rem;
    }
    .inner {
      padding: 0.3rem .25rem;
      margin:  .12rem .12rem .12rem 0.12rem;
      height: 3.2rem;
      position: relative;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .item {
      height: 1.6rem;
      overflow: hidden;
      @include create-square-image(100%, 100%,0rem);
      margin-bottom: .25rem;
    }
    .title,.desc {
      font-size: .25rem;
      text-align: center;
      color: #231815;
      line-height: .32rem;
      @include ellipsis;
    }
    .desc {
      color: #9FA0A0;
    }
  }
}

/**分享begin**/

.m-layermsk{
  background: rgba(0,0,0,0);
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.m-newpopmsk {
  background-color: rgba(0,0,0,0.6);
  animation: animation-opacity 500ms ease;
}
@keyframes animation-opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes animation-move{
  from{
    transform: translateY(100%) translateZ(0);
  }
  to{
    transform: translateY(0) translateZ(0);
  }
}


.m-window {
  position: relative;
  width: 100%;
  height: 100%;
}
.winbody{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: rgba(255,255,255,0.95);
  text-align: center;
  padding: .2rem  .4rem .2rem .4rem;
  font-size: 0;
  animation: animation-move 500ms ease;
  .share-content{
    margin: .2rem 0;
  }
  .title{
    font-size: .3rem;
  }
  .share-item{
    float: left;
    width: 33.33%;
    padding: .15rem;
    text-align: center;
  }
  .share-item-img{
    display: inline-block;
    width: 100%;
    height: 1.2rem;
  }
  .share-item-text{
    font-size: .28rem;
    color: #000;
  }
  .icon_share_wechat{
    background: url("../images/app/share/icon_share_wechat.png") center center no-repeat;
    background-size: 1.2rem auto;
  }
  .icon_share_friends{
    background: url("../images/app/share/icon_share_friends.png") center center no-repeat;
    background-size:1.2rem auto;
  }
  .icon_share_weibo{
    background: url("../images/app/share/icon_share_weibo.png") center center no-repeat;
    background-size: 1.2rem auto;
  }
  .cancel {
    font-size: .3rem;
    padding: .25rem 0 0 0;
  }
}
/**分享end**/