//常用变量
$font-size1: 0.38rem; //标题

$font-size2: 0.29rem; //二级标题
$font-size3: 0.30rem;
$font-size4: 0.24rem;

$font-color1: #000;
$font-color2: #231815; //二级标题
$font-color3: #595757; //前描述
$font-color4: #898989;
$font-color5: #9FA0A0; //时间 弱描述
$font-color6: #dcdddd;
$font-color7: #f23030; //红

//border-bottom: 1px solid #e7e7e7;
//border-bottom: 1px solid #dbdbdb;
$border-color: #e7e7e7